
/* --- LOGIN --- */


.login {
    height: 100vh;
    font-family: var(--Roboto);
}

.login .left {
    width: 55%;
    background-image: url(../img/login-background.jpg);
    background-size: cover;
}

.login .right {
    width: 45%;
    background-color: var(--white);
}

.login .logo img {
    width: 50%;
}

@media screen and (max-width: 768px) {

    .login {
        height: auto;
    }

    .login .left {
        display: none;
    }

    .login .right {
        width: 100%;
        height: 100vh;
        border: none;
    }
}



/* --- Admin Header -- */

.admin {
    font-family: var(--Roboto);
}

.header-main {
    height: 95px;
    background-color: var(--white);
    border-bottom: 1px solid var(--borderBackground);
}

header .header-main .logo {
    justify-content: flex-start;
}

.header-main .right .nav-item i {
    color: #a3a3a3;
    font-size: var(--fontText);
}

.header-main .right .nav-item a {
    color: #666666;
    font-size: var(--fontText);
}

.header-main .right .nav-item, .header-main .right .nav-item a {
    padding: var(--paddingNormal);
}

/* --- Hover Effect --- */

.header-main .right .nav-item a {
    position: relative;
}

.header-main .right .nav-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--darkBlue);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.header-main .right .nav-item a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* --- // End Hover Effect --- */


/* --- End Admin Header -- */


/* --- Admin News -- */


.header-admin {
    background-color: var(--white);
    padding: var(--paddingSemi) var(--paddingMedium);
    box-shadow: 2px 4px 2px var(--borderBackground);
}

.admin-list-element {
    color: var(--lightBlue);
}

.admin-list-element .controls {
    border-left: 2px solid var(--borderBackground); 
}

.line-divider {
    padding: var(--paddingNormal) 0;
    height: 8px;
    border-bottom: 2px solid var(--borderBackground);
}


.components, .sheet {
    margin: var(--paddingNormal);
}

.components {
    width: 20%;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.add-component {
    padding: var(--paddingNormal);
    cursor: pointer;
}

.sheet {
    width: 80%;
    position: relative;
    background-color: var(--white);
}

.admin .bordered {
    border: 2px solid var(--borderBackground);
}

.admin .bordered-dotted {
    border: 2px dotted #cfcfd2;
}

.info-sheet {
    margin: var(--paddingNormal) 0;
    font-size: var(--fontMini);
}

.banner-img, .single-img {
    min-height: 200px;
}

.banner-img:hover, .single-img:hover, .single-image-gallery:hover {
    border: 2px dotted var(--background);
}

.input-ghost {
    width: 100%;
    font-family: var(--Roboto);
    border-bottom: 2px solid var(--borderBackground);
    padding: var(--paddingNormal) var(--paddingMedium);
    font-size: var(--fontText);
}

.input-ghost-title {
    font-size: var(--fontRegular);
}

.input-ghost-parrafo {
    height: auto;
    line-height: 24px;
}

.single-image-gallery {
    margin: 0 var(--paddingNormal);
    padding: var(--paddingNormal);
    min-height: 100px;
}

.input-ghost-link {
    text-decoration: underline;
    color: var(--darkBlue);
}

.title-component h3 {
    text-transform: capitalize;
}

#delete-component {
    font-size: 0.8em;
    color: var(--red);
    cursor: pointer;
}

#elegirImagen, #elegirImagenes {
    cursor: pointer;
}

#btn-validar, #agregarLista, #removerLista {
    color: var(--black);    
    cursor: pointer;
}

#lista li {        
    padding: var(--paddingNormal);
}

#lista li::before {
    content: '- ';
}

#lista li:hover::before {
    content: 'REMOVER ';
}

#inputEnlacesName {
    margin-left: var(--paddingNormal);
}

.destino-carrera select, .admin-users select {
    width: auto;
    padding: var(--paddingNormal) var(--paddingNormal);
    font-weight: var(--weightBold);
    font-size: var(--fontSmall);
    font-family: var(--Roboto);
    color: var(--lightGray);
    border: var(--border);
}

.admin-users select {
    background-color: var(--formBackground);
}

.enlaces {
    order: 1;
}

.categorias {
    order: 2;
}

.share {
    order: 3;
}

.date-time {
    order: 4;
}

.destino-carrera {
    order: 5;
}

.publicar {
    order: 6;
}

/* --- End Admin News -- */

.admin-users #inner-user-lis {
    margin: 0 var(--paddingLarge);
}

#user-form {
    display: none;
}

#user-role {
    display: none;
}