
.admin {
    font-family: var(--Roboto);
}

.admin-header {
    height: 95px;
    background-color: var(--white);
    border-bottom: 1px solid #e6e6e7;
}

.admin-header .left {
    width: 50%;
}

.admin-header .left .logo {
    justify-content: flex-start;
}

.admin-header .right {
    width: 50%;
}

.admin-header .right .current-user, .admin-header .right .end-session {
    width: auto;
    padding: 0 var(--paddingNormal);
    color: var(--grayDescription);
}

.admin-header .right .end-session i {
    color: #545454;
}

.admin .left-panel {
    width: 18%;
    height: 90vh;
    border-right: 1px solid #e6e6e7;
    background-color: var(--white);
}

.left-panel .panel-item {
    padding: var(--paddingNormal);
    color: var(--blueLink);
}

.left-panel .panel-item a {
    padding: 0 var(--paddingMedium);
    color: var(--grayDescription);
    font-weight: var(--weightMedium);
}

.left-panel .panel-item i {
    font-size: var(--fontMedium);
}

.left-panel .panel-subitem {
    padding: var(--paddingNormal) var(--paddingLarge);
}

.left-panel .panel-subitem a {
    font-size: var(--fontTiny);
    color: var(--grayDescription);
}

.admin-add-news {
    width: 81%;
}

.admin-add-news .left {
    width: 70%;
    padding: 0 var(--paddingMedium);
}

.admin-add-news .right {
    width: 30%;
    background-color: #fafafa;
    border: 1px solid #e6e7ea;
}

.admin-add-news .right span {
    font-weight: var(--weightMedium);
}
