
.login .left {
    width: 50%;
    
    background: url(../img/login-background.jpg) no-repeat;
    background-size: cover;
    height: 800PX;
    
}
.login .rigth {
    width: 50%;
    height: 800px;
}
@media screen and (max-width: 768px) {
    .login .left{
        width: 100%;
        height: 300px;
    }
    .login .rigth{
        width: 100%;
        height: auto;
    }
}
