.header-top{
    height: 50px;
    background-color: var(--blueTeal);
}

.header-top .left{
    width: 50%;
    
}

.header-top .right{
    width: 50%;
    
}

.header-top .phone, .header-top .email, .header-top .phone i, .header-top .email i  {
    width: auto;
    padding: 0 var(--paddingNormal);
}

.header-top .facebook-icon, .header-top .twitter-icon, .header-top .facebook-icon i, .header-top .twitter-icon i {
    width: auto;
    padding: 0 var(--paddingNormal);
}

.header-main {
    height: 95px;
}

.header-main .left{
    width: 40%;
    
}

.header-main .right{
    width: 60%;
    
}

.header-main .right .nav-item, .header-main .right .nav-item a {
    width: auto;
}