
header {
    font-family: var(--Roboto);
}

.header-top{
    height: 50px;
    font-size: var(--fontTiny);
    background-color: var(--blueTeal);
}

.header-top a {
    color: var(--white);
}

.header-top .left{
    width: 50%;
}

.header-top .right{
    width: 50%;
}

.header-top .phone, .header-top .email, .header-top .phone i, .header-top .email i, .header-top .facebook-icon, .header-top .twitter-icon, .header-top .facebook-icon i, .header-top .twitter-icon i   {
    width: auto;
    color: var(--white);
    padding: 0 var(--paddingNormal);
}

.header-top .phone a, .header-top .email a {
    font-weight: var(--weightRegular);
}

.header-main {
    height: 95px;
    background-color: var(--white);
    border-bottom: 1px solid #e6e6e7;
}

.header-main .left{
    width: 40%;
}

.header-main .right{
    width: 60%;
}

header .header-main .logo {
    justify-content: flex-start;
}

.header-main .right .nav-item, .header-main .right .nav-item a {
    width: auto;
    color: var(--blueLink);
    padding: var(--paddingNormal);
    font-size: var(--fontText);
}

.header-main .right .nav-item a {
    position: relative;
}

.header-main .right .nav-item a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--blueLink);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.header-main .right .nav-item a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*    LARGE DEVICES    */

@media screen and (max-width: 1200px) {

    .header-main .left {
        width: 30%;
    }

    .header-main .right {
        width: 70%;
    }

}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {

    .header-main .left {
        width: 20%;
    }

    .header-main .right {
        width: 80%;
    }

    .header-main .right .nav-item, .header-main .right .nav-item a {
        padding: 5px;
    }

}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {

    header .header-top {
        display: none;
    }

    header .header-main .left {
        width: 100%;
    }

    header .header-main .logo {
        justify-content: center;
    }

    header .header-main .logo img {
        max-height: 50px;
    }

    header .header-main .right {
        display: none;
    }

}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {



}
