
.home {
    font-family: var(--Roboto);
}

/* --- Slider --- */

.slider {
    width: 300%;
    animation: nextSlide 12s infinite;
}

.slide {
    width: 100%;
    height: auto;
}

@keyframes nextSlide {
    0% {
        margin-left: 0;
    }
    27% {
        margin-left: 0;
    }
    33% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    66% {
        margin-left: -200%;
    }
    94% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

/* --- Quick Info --- */

.home .quick-info {
    background-color: var(--white);
}

.home .quick-info .left,
.home .quick-info .right {
    width: 50%;
}

.home .quick-info .right .video iframe {
    width: 85%;
    margin: auto;
    height: 300px;
}

/* --- Careers --- */

.careers {
    border: 1px solid #e6e7ea;
}

.career {
    padding: var(--paddingNormal);
}

/* --- Call To Action --- */

.call-to-action {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* --- News --- */

.home .new-card {
    background-color: var(--white);
}

.home .news .news-cards .new-card {
    margin: var(--paddingNormal);
}

.home .news .news-cards .new-card .featured-img {
    border-bottom: 4px solid var(--lightBlue);
}

.home .new-card .date,
.home .new-card .description {
    padding: var(--paddingNormal) var(--paddingMedium);
}

.new-card .new-title {
    padding: 0 var(--paddingMedium);
}

.new-card .read-more {
    padding: 0.5em var(--paddingMedium) var(--paddingSemi) var(--paddingMedium);
}

.home .new-card .date p {
    font-size: var(--fontMini);
}

.home .new-card .date p:nth-child(2)::before {
    content: '-';
}

.home .new-card .description p {
    font-size: var(--fontTiny);
}

.home .new-card .read-more {
    font-size: var(--fontMini);
    font-weight: var(--weightSemi);
}

/* --- Events --- */

.home .events .events-cards .event-card {
    background-color: var(--white);
    margin: var(--paddingNormal);
}

.home .events .events-cards .event-card .row-responsive {
    height: 100%;
}

.home .events .events-cards .event-card .date {
    background-color: var(--darkBlue);
    font-weight: var(--weightBold);
    padding: 0 var(--paddingSemi);
}

.home .events .events-cards .event-card .date .month p,
.home .events .events-cards .event-card .date .year p {
    font-size: var(--fontMini);
    text-transform: uppercase;
}

.home .events .events-cards .event-card .info, .home .events .events-cards .event-card .new-title,
.home .events .events-cards .event-card .info, .home .events .events-cards .event-card .schedule
 {
    padding: var(--paddingNormal) var(--paddingNormal);
}

.home .events .events-cards .event-card .info, .home .events .events-cards .event-card .schedule p {
    font-size: var(--fontText);
}

.home .events .events-cards .event-card .info, .home .events .events-cards .event-card .schedule i {
    color: #848484;
}

.home .events .events-cards .event-card .read-more {
    font-size: var(--fontMini);
    font-weight: var(--weightSemi);
    padding: 0.5em 0 var(--paddingNormal) var(--paddingNormal);
}


/*    LARGE DEVICES    */

@media screen and (max-width: 1200px) {

}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {

    .home .events .events-cards .event-card .info, .home .events .events-cards .event-card .new-title,
    .home .events .events-cards .event-card .info, .home .events .events-cards .event-card .schedule
     {
        padding: var(--paddingNormal) 0.5em;
    }

    .home .new-card .date {
        flex-direction: column;
    }

    .home .new-card .date p:nth-child(2)::before {
        content: '';
    }

    .home .events .events-cards .event-card .date {
        padding: 0 var(--paddingNormal);
    }

}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {

    .home .quick-info .left, .home .quick-info .right {
        width: 100%;
    }

    .home .quick-info .right .video iframe {
        width: 100%;
        height: 380px;
    }

    .career {
        padding: var(--paddingNormal) 0;
    }

    .home .news .news-cards .new-card {
        margin: var(--paddingNormal) 0;
    }

    .home .events .events-cards .event-card .date .column {
        flex-direction: row;
    }

    .home .events .events-cards .event-card .date .justify-center {
        justify-content: flex-start;
    }

    .home .events .events-cards .event-card {
        margin: var(--paddingNormal) 0;
    }

    .home .events .events-cards .event-card .date {
        padding: var(--paddingSemi) var(--paddingNormal);
    }

    .home .events .events-cards .event-card .date .month p,
    .home .events .events-cards .event-card .date .year p {
        padding: 0 0.5em;
        font-size: var(--fontRegular);
    }

    .home .events .events-cards .event-card .date p {
        padding: 0 0.5em;
        font-size: var(--fontRegular);
    }

}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {

    .home .quick-info .right .video iframe {
        width: 100%;
        height: 220px;
    }

    .home .events .events-cards .event-card .date .month p,
    .home .events .events-cards .event-card .date .year p {
        padding: 0 0.5em;
        font-size: var(--fontMini);
    }

    .home .events .events-cards .event-card .date {
        padding: var(--paddingMedium) var(--paddingMedium);
    }

    .home .events .events-cards .event-card .date p {
        font-size: var(--fontMini);
    }

}
