
.login {
    height: 100vh;
    font-family: var(--Roboto);
}

.login .left {
    width: 55%;
    background-image: url(../img/login-background.jpg);
    background-size: cover;
}

.login .right {
    width: 45%;
    background-color: var(--white);
}

.login .logo img {
    width: 50%;
}

@media screen and (max-width: 768px) {

    .login {
        height: auto;
    }

    .login .left {
        display: none;
    }

    .login .right {
        width: 100%;
        height: 100vh;
        border: none;
    }
}
