
.login .left {
    width: 50%;
    min-height: 800px;
    background-image: url(../img/login-background.jpg);
    background-size: cover;
}

.login .right {
    width: 50%;
    background-color: #fff;
    min-height: 800px;
}


.login-form input {

}
