

.microsite {
    font-family: var(--Roboto);
}

.microsite .banner {
    height: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.microsite .overview  {
    background-color: var(--white);
}

.microsite .overview .introduction p, .microsite .overview .goals p {
    width: 96%;
}

.microsite .skills {
    background-color: var(--white);
    border: 1px solid #e6e7ea;
}


.microsite .skills .habilities .hability-number h2 {
    font-weight: var(--weightBold);    
    padding-right: var(--paddingMedium);
    font-size: 3em;
}

.microsite .skills .habilities .hability-description p {
    width: 90%;
}

/* --- Call To Action --- */

.call-to-action {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.call-to-action h2, .call-to-action p {
    color: var(--white);
}

.call-to-action p {
    font-size: var(--fontRegular);
}

/* --- END Call To Action --- */


.news {
    font-family: var(--Roboto);
}

 .new-card {
    background-color: var(--white);
}

 .news .news-cards .new-card {
    margin: var(--paddingNormal);
}

 .news .news-cards .new-card .featured-img {
    border-bottom: 4px solid var(--lightBlue);
}

 .new-card .date,
 .new-card .description {
    padding: var(--paddingNormal) var(--paddingMedium);
}

.new-card .new-title {
    padding: 0 var(--paddingMedium);
}

.new-card .read-more {
    padding: 0.5em var(--paddingMedium) var(--paddingSemi) var(--paddingMedium);
}

 .new-card .date p {
    font-size: var(--fontMini);
}

 .new-card .date p:nth-child(2)::before {
    content: '-';
}

 .new-card .description p {
    font-size: var(--fontTiny);
}

 .new-card .read-more {
    font-size: var(--fontMini);
    font-weight: var(--weightSemi);
}




.events {
    font-family: var(--Roboto);
}

.events .events-cards .event-card {
    background-color: var(--white);
    margin: var(--paddingNormal);
}

 .events .events-cards .event-card .row-responsive {
    height: 100%;
}

 .events .events-cards .event-card .date {
    background-color: var(--darkBlue);
    font-weight: var(--weightBold);
    padding: 0 var(--paddingSemi);
}

 .events .events-cards .event-card .date .month p,
 .events .events-cards .event-card .date .year p {
    font-size: var(--fontMini);
    text-transform: uppercase;
}

 .events .events-cards .event-card .info,  .events .events-cards .event-card .new-title,
 .events .events-cards .event-card .info,  .events .events-cards .event-card .schedule
 {
    padding: var(--paddingNormal) var(--paddingNormal);
}

 .events .events-cards .event-card .info,  .events .events-cards .event-card .schedule p {
    font-size: var(--fontText);
}

 .events .events-cards .event-card .info,  .events .events-cards .event-card .schedule i {
    color: #848484;
}

 .events .events-cards .event-card .read-more {
    font-size: var(--fontMini);
    font-weight: var(--weightSemi);
    padding: 0.5em 0 var(--paddingNormal) var(--paddingNormal);
}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {

    .new-card .date {
        flex-direction: column;
    }

    .new-card .date p:nth-child(2)::before {
        content: '';
    }

     .events .events-cards .event-card .info,  .events .events-cards .event-card .new-title,
     .events .events-cards .event-card .info,  .events .events-cards .event-card .schedule
     {
        padding: var(--paddingNormal) 0.5em;
    }

     .events .events-cards .event-card .date {
        padding: 0 var(--paddingNormal);
    }

}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {

    .news .news-cards .new-card {
        margin: var(--paddingNormal) 0;
    }

     .events .events-cards .event-card .date .column {
        flex-direction: row;
    }

     .events .events-cards .event-card .date .justify-center {
        justify-content: flex-start;
    }

     .events .events-cards .event-card {
        margin: var(--paddingNormal) 0;
    }

     .events .events-cards .event-card .date {
        padding: var(--paddingSemi) var(--paddingNormal);
    }

     .events .events-cards .event-card .date .month p,
     .events .events-cards .event-card .date .year p {
        padding: 0 0.5em;
        font-size: var(--fontRegular);
    }

     .events .events-cards .event-card .date p {
        padding: 0 0.5em;
        font-size: var(--fontRegular);
    }

}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {

     .events .events-cards .event-card .date .month p,
     .events .events-cards .event-card .date .year p {
        padding: 0 0.5em;
        font-size: var(--fontMini);
    }

     .events .events-cards .event-card .date {
        padding: var(--paddingMedium) var(--paddingMedium);
    }

     .events .events-cards .event-card .date p {
        font-size: var(--fontMini);
    }

}

