.institutional {
    font-family: var(--Roboto);
}

.institutional .nosotros, .institutional .ubicacion {
    background-color: var(--white);
}

.institutional .banner {
    height: 235px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.institutional .banner .title h2 {
    color: var(--white);
}

.institutional .mision img, .institutional .vision img, .institutional .mision h3, .institutional .vision h3, .institutional .mision p, .institutional .vision p {
    margin: 0 var(--paddingNormal);
}

.institutional .mision p, .institutional .vision p {
    width: 96%;
}

.institutional .directorio-rector {
    background-color: var(--white);
}

.institutional .directorio-rector .rector img {
    max-height: 250px;
}

.institutional .directorio-rector .rector-profile {
    width: 25%;
}

.institutional .directorio-rector .rector-info {
    width: 70%;
}


.component-habilities .hability-number h2 {
    font-weight: var(--weightBold);    
    padding-right: var(--paddingMedium);
    font-size: 3em;
}

.component-habilities .hability-description p {
    width: 90%;
}

/*---*/
.institutional .proceso {
    background-color: var(--white);
    border: 1px solid #e6e7ea;
}

.institutional .proceso .hability {
    margin-bottom: var(--paddingLarge);
}

.institutional .proceso .habilities .hability-number p {
    font-weight: var(--weightBold);
    color: var(--blueTeal);
    padding-right: var(--paddingNormal);
    font-size: 3.5em;
}


.institutional .proximo {
    background-color: var(--blueLink);
}

.institutional .servicios-asistencia  .habilities .hability-number i {
    padding-right: var(--paddingNormal);
}

.servicios-asistencia {
    background-color: var(--white);
}

.bajas {
    background-color: var(--white);
}

.bajas .hability-number p {
    font-weight: var(--weightBold);
    color: var(--blueTeal);
    padding-right: var(--paddingNormal);
    font-size: 3.5em;
}

@media screen and (max-width: 1200px) {

    .institutional .directorio-rector .rector-profile {
        width: 30%;
    }

    .institutional .directorio-rector .rector-info {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {

    .institutional .directorio-rector .rector-profile {
        width: 40%;
    }

    .institutional .directorio-rector .rector-info {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {

    .institutional .directorio-rector .rector-profile {
        width: 100%;
    }    

    .institutional .directorio-rector .rector-info {
        width: 100%;
    }

}

.componente-card-link-container {
    justify-content: space-between;
}


.componente-card-link {
    max-width: 45%;
    background-color: var(--white);        
    padding: var(--paddingSemi) var(--paddingNormal);
}

.componente-card-link:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.1);
}

@media screen and (max-width: 768px) {

    .componente-card-link {
        max-width: 100%;        
        padding: var(--paddingSemi) 0;
        margin-bottom: var(--paddingLarge);
    }

}

.componente-panel-lightBlue{
    background-color: var(--lightBlue);
    padding: var(--paddingSemi);
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    font-weight: var(--weightBold);    
}

.componente-panel-lightBlue p {
    max-width: 95%;
}

.componente-transparencia-list {
    padding: var(--paddingLarge) 0;
    background-color: var(--white);
}

.componente-transparencia-list .number, .componente-transparencia-list .description {
    margin: 0 var(--paddingSemi);
}

.componente-transparencia-list .description {
    max-width: 90%;    
}

.componente-transparencia-list .download {
    max-width: 10%;
    align-items: center;
} 

@media screen and (max-width: 1200px) {

    .componente-transparencia-list .number, .componente-transparencia-list .description {
        margin: 0 var(--paddingMedium);
    }

    .componente-transparencia-list .description {
        max-width: 85%;    
    }

    .componente-transparencia-list .download {
        max-width: 15%;    
    } 

}

@media screen and (max-width: 992px) {

    .componente-transparencia-list .number, .componente-transparencia-list .description {
        margin: 0 var(--paddingNormal);
    }

    .componente-transparencia-list .description {
        max-width: 90%;        
    }

    .componente-transparencia-list .download {
        max-width: 15%;    
    } 

}

@media screen and (max-width: 768px) {

    .componente-transparencia-list .number, .componente-transparencia-list .description, .componente-transparencia-list .download {
        margin: 0 var(--paddingNormal);
    }

    .componente-transparencia-list .description {
        max-width: 95%;        
    }

    .componente-transparencia-list .download {
        max-width: 100%;  
        padding: var(--paddingMedium) 0;  
    } 

}

.componente-miniheader {
    background-color: var(--white);
    border-bottom: var(--border);
}

.componente-miniheader .left {
    min-width: 60%;
}


.componente-miniheader .right {
    align-items: flex-end;
}

.transparencia-access {
    align-content: flex-end;
    justify-content: center;
}

@media screen and (max-width: 768px) {

    .componente-miniheader .left {
        text-align: center;
    } 

    .componente-miniheader .left p {
       text-align: center;
    }

    .componente-miniheader .right {
        align-items: center;
    }

    .tomini32 {
        height: 0;
    }


}

