/* --- News --- */

.news {
    font-family: var(--Roboto);
}

 .new-card {
    background-color: var(--white);
}

 .news .news-cards .new-card {
    margin: var(--paddingNormal);
}

 .news .news-cards .new-card .featured-img {
    border-bottom: 4px solid var(--lightBlue);
}

 .new-card .date,
 .new-card .description {
    padding: var(--paddingNormal) var(--paddingMedium);
}

.new-card .new-title {
    padding: 0 var(--paddingMedium);
}

.new-card .read-more {
    padding: 0.5em var(--paddingMedium) var(--paddingSemi) var(--paddingMedium);
}

 .new-card .date p {
    font-size: var(--fontMini);
}

 .new-card .date p:nth-child(2)::before {
    content: '-';
}

 .new-card .description p {
    font-size: var(--fontTiny);
}

 .new-card .read-more {
    font-size: var(--fontMini);
    font-weight: var(--weightSemi);
}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {

    .new-card .date {
        flex-direction: column;
    }

    .new-card .date p:nth-child(2)::before {
        content: '';
    }

}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {

    .news .news-cards .new-card {
        margin: var(--paddingNormal) 0;
    }

}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {



}
