
.noticia {
    font-family: var(--Roboto);
}

.noticia .left, .noticia .right {
    margin: 0 var(--paddingMedium);
}

.noticia .left {
    width: 70%;
    background-color: var(--white);
}

.noticia .right {
    width: 30%;
    background-color: var(--white);
}

.noticia .noticia-title {
    padding: var(--paddingSemi) var(--paddingMedium) var(--paddingNormal) var(--paddingMedium);
}

.noticia .banner-img {
    border-bottom: 4px solid var(--lightBlue);
}

.noticia .noticia-date {
    padding: 0 var(--paddingMedium);
}

.noticia .noticia-date p, .noticia .noticia-carrera p {
    font-size: var(--fontMini);
}

.noticia .noticia-date i, .noticia .noticia-carrera i {
    color: #848484;
    font-size: var(--fontMini);
}

.noticia .parrafo {
    padding: 0 var(--paddingMedium);
    text-align: justify;
}

.noticia .parrafo p {
    line-height: 28px;
}

.noticia .noticia-subtitulo {
    padding: 0 var(--paddingMedium);
}

.noticia .noticia-galeria img {
    margin: var(--paddingNormal);
}

.noticia h3 {
    font-size: var(--fontRegular);
    font-weight: var(--weightMedium);
}
