/* --- JOBS --- */

.jobs {
    font-family: var(--Roboto);
}

.jobs .jobs-cards .job-card {
    background-color: var(--white);
    margin: var(--paddingNormal);
    border: 1px solid #e6e7ea;
}

.jobs .jobs-cards .job-card .row-responsive {
    height: 100%;
}

.jobs .jobs-cards .job-card .date {
    width: 30%;
    background-color: var(--blueLink);
    padding: var(--paddingMedium) 0;
}

.jobs .jobs-cards .job-card .date i {
    font-size: 1.8em;
    color: var(--white);
}

.jobs .jobs-cards .job-card .date p {
    color: var(--white);
    font-weight: var(--weightSemi);
}

.jobs .jobs-cards .job-card .date .day p {
    font-size: var(--fontLarge);
}

.jobs .jobs-cards .job-card .date .month p, .home .jobs .jobs-cards .job-card .date .year p {
    font-size: 0.8em;
}

.jobs .jobs-cards .job-card .info, .home .jobs .jobs-cards .job-card .schedule {
    padding: var(--paddingNormal) 0;
}

.jobs .jobs-cards .job-card .schedule i {
    padding-right: var(--paddingNormal);
}


.jobs .jobs-cards .job-card .read-more {
    width: auto;
    color: var(--blueTeal);
    font-size: 0.9em;
    font-weight: var(--weightSemi);
}


@media screen and (max-width: 1200px) {
    .jobs .jobs-cards .job-card .date {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    .jobs .jobs-cards .job-card .date {
        width: 100%;
    }

    .jobs .jobs-cards .job-card {
        margin: var(--paddingNormal) 0;
    }
}

/* --- END JOBS --- */

.pagination .next {
    padding: var(--paddingMedium) var(--paddingNormal);
    color: var(--blueTeal);
    font-weight: var(--weightMedium);
}

.pagination .prev {
    font-weight: var(--weightMedium);
    padding-top: var(--paddingMedium);
    padding-right: var(--paddingNormal);
    color: var(--blueTeal);
}
