* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.header-tv {
    width: 100%;
    height: 12%;
    background-color: white;
    border-bottom: 4px solid #FCDB04;
}

.header-tv .left, .header-tv .right  {
    width: 50%;
    float: left;
}

.header-tv .left img {
    margin-top: 12px;
    padding-left: 32px;
    width: 30%;
}

.header-tv .right {
    text-align: right;
    margin-top: 32px;
}

.header-tv .right .date-time p {
    display: inline;
    padding-right: 32px;
}

.header-tv .right .date-time #date, .header-tv .right .date-time #time {
    font-weight: 500;
}

.body-tv {
    background-color: #F6F6F7;
    height: 88%;
}

.body-tv .left {
    width: 65%;
    height: 100%;
    float: left;
}

.body-tv .left .main-new {
    width: 100%;
    height: 100%;
}

.body-tv .left .main-new .image {
    width: 100%;
    height: 72%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-tv .left .main-new .title {
    width: 100%;
}

.body-tv .left .main-new .title h2 {
    width: 95%;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    color: #505050;
}

.body-tv .left .main-new .description {
    width: 100%;
}


.body-tv .left .main-new .description p {
    width: 95%;
    margin: auto;
    text-align: justify;
    line-height: 24px;
    color: #333333;
}

.body-tv .right {
    width: 34.8%;
    height: 100%;
    float: left;
}

.body-tv .right .news {
    width: 100%;
    height: 100%;
    padding: 8px 0;
}

.body-tv .right .news .new {
    width: 90%;
    height: 46%;
    margin: auto;
    margin-bottom: 16px;
    background-color: white;
    border: 2px solid #e6e6e7;
}

.body-tv .right .news .new h3 {
    color: #505050;
}

.body-tv .right .news .new p {
    color: #333333;
}

.body-tv .right .news .new h3, .body-tv .right .news .new p {
    padding: 8px;
}

.body-tv .right .news .new .image {
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
