<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/admin.css" media="screen">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
        crossorigin="anonymous">
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <title>UPQROO - ADMINISTRADOR</title>
</head>

<body>

    <div class="admin flex">
        <div class="column">
            <!-- Header -->
            <header>
                <div class="column">
                    <div class="header-main justify-center wow fadeInDown">
                        <div class="container">
                            <div class="row">
                                <div class="left auto">
                                    <div class="logo responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/logo-upqroo.png" alt="Logo UPQROO" title="Logo UPQROO">
                                        </a>
                                    </div>
                                </div>
                                <div class="right">
                                    <nav class="row align-center justify-end">
                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-newspaper"></i>
                                            <a href="#">NOTICIAS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-calendar-alt"></i>
                                            <a href="#">EVENTOS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-briefcase"></i>
                                            <a href="#">VACANTES</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-university"></i>
                                            <a href="#">PÁGINAS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-users"></i>
                                            <a href="#">USUARIOS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <a href="#">SALIR</a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header> <!-- End Header -->

            <!-- Admin Content -->
            <div class="admin-content">
                <!-- LOAD HERE-->

                <div class="admin-users justify-center">
                    <div class="container">
                        <div class="column">
                            <div class="white-space-32"></div>
                            <div class="header-admin row justify-between align-center">
                                <h2>
                                    <i class="fas fa-users-cog"></i>
                                    &nbsp; Todos los Usuarios
                                </h2>
                                <div class="admin-card auto color-white">
                                    <a class="btn btn-darkBlue" href="#">
                                        <i class="fas fa-plus-circle"></i>
                                        AGREGAR USUARIO
                                    </a>
                                </div>
                            </div>
                            <div class="white-space-48"></div>

                            <form action="" method="">
                                <div class="column">
                                    <div class="agregar-usuario">
                                        <div class="column">
                                            <h3>
                                                AGREGAR USUARIO
                                            </h3>
                                            <div class="white-space-32"></div>
                                            <h4>
                                                Nombre de usuario
                                            </h4>
                                            <div class="white-space-8"></div>
                                            <input class="input-text" type="text" placeholder="50 Carácteres" name="nombre">
                                            <div class="white-space-16"></div>
                                            <h4>
                                                Correo Institucional
                                            </h4>
                                            <div class="white-space-8"></div>
                                            <input class="input-text" type="password" placeholder="Correo Institucional" name="correo">
                                            <div class="white-space-16"></div>
                                            <h4>
                                                Contraseña
                                            </h4>
                                            <div class="white-space-8"></div>
                                            <input class="input-text" type="password" placeholder="18 Carácteres" name="password">
                                            <div class="white-space-16"></div>
                                            <h4>
                                                Repetir Contraseña
                                            </h4>
                                            <div class="white-space-8"></div>
                                            <input class="input-text" type="password" placeholder="18 Carácteres" name="repassword">
                                            <div class="white-space-16"></div>
                                            <h4>
                                                Rol de usuario
                                            </h4>
                                            <div class="white-space-8"></div>
                                            <select name="usuario-rol">
                                                <option value="1">
                                                    Director de Carrera
                                                </option>
                                                <option value="2">
                                                    Vinculación
                                                </option>
                                                <option value="3">
                                                    Servicios Escolares
                                                </option>
                                                <option value="4">
                                                    Prensa y Difusión
                                                </option>
                                                <option value="5">
                                                    Información Institucional
                                                </option>
                                            </select>
                                            <div class="white-space-16"></div>
                                            <input class="btn btn-darkBlue" type="submit" value="AÑADIR USUARIO">
                                            <div class="white-space-32"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <!-- Main UserList Row-->
                            <div class="row">
                                <!-- Inner User List Row-->
                                <div class="row" id="inner-user-list">
                                    <div class="user-list">
                                        <div class="column">
                                            <div class="white-space-32"></div>
                                            <!-- Admin-list-element (Repetir n noticias) -->
                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Mario Gutiérrez
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 1 -->
                                    
                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Mariano Xui Chan
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 2 -->
                                    
                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->


                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                    
                                        </div> <!-- End User Column-->
                                    </div> <!-- End User List-->
                                </div> <!-- End Inner User List Row-->

                                <!-- Second Inner User List Row-->
                                <div class="row" id="inner-user-lis">
                                    <div class="user-list">
                                        <div class="column">
                                            <div class="white-space-32"></div>
                                            <!-- Admin-list-element (Repetir n noticias) -->
                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Mario Gutiérrez
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 1 -->
                                    
                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Mariano Xui Chan
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 2 -->
                                    
                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->

                                            <div class="user-list-element auto justify-between">
                                                <h4 class="auto">
                                                    <a href="#">
                                                        Administrador Supremo
                                                    </a>
                                                </h4>
                                                <div class="controls auto align-center">
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-edit"></i>
                                                        EDITAR &nbsp;
                                                    </a>
                                                    <a class="link" href="#">
                                                        &nbsp;
                                                        <i class="fas fa-eraser"></i>
                                                        ELIMINAR &nbsp;
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="line-divider"></div>
                                            <div class="white-space-16"></div>
                                            <!-- // END Admin-list-element 3 -->
                                    
                                        </div> <!-- End User Column-->
                                    </div> <!-- End User List-->
                                </div> <!-- End Second Inner User List-->
                            </div> <!-- End Main UserList Row -->

                            <div class="row">
                                <div class="right">
                                    
                                </div> <!-- End Right-->
                            </div> <!-- End Row Responsive-->
                        </div>
                    </div>
                </div>


            </div> <!-- End Admin Content -->

        </div> <!-- End Main Column -->
    </div>

</body>

</html>