<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/admin.css" media="screen">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6"
        crossorigin="anonymous">
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <title>UPQROO - ADMINISTRADOR</title>
</head>

<body>

    <div class="admin flex">
        <div class="column">
            <!-- Header -->
            <header>
                <div class="column">
                    <div class="header-main justify-center wow fadeInDown">
                        <div class="container">
                            <div class="row">
                                <div class="left auto">
                                    <div class="logo responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/logo-upqroo.png" alt="Logo UPQROO" title="Logo UPQROO">
                                        </a>
                                    </div>
                                </div>
                                <div class="right">
                                    <nav class="row align-center justify-end">
                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-newspaper"></i>
                                            <a href="#">NOTICIAS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-calendar-alt"></i>
                                            <a href="#">EVENTOS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-briefcase"></i>
                                            <a href="#">VACANTES</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-university"></i>
                                            <a href="#">PÁGINAS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-users"></i>
                                            <a href="#">USUARIOS</a>
                                        </div>

                                        <div class="nav-item auto align-center">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <a href="#">SALIR</a>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header> <!-- End Header -->

            <!-- Admin Content -->
            <div class="admin-content">

                <div class="admin-agregar-noticia justify-center">
                    <div class="container">
                        <div class="column">
                            <div class="white-space-32"></div>
                            <h2>
                                Editar: Universidad / Directorio
                            </h2>
                            <div class="white-space-32"></div>
                            <div class="row">
                                <div class="sheet sheet-microsite justify-center bordered">
                                    <div class="container">
                                        <form class="admin-form" action="" method="post">
                                            <div class="column">                                                
                                                <div class="white-space-32"></div>

                                                <div class="column admin-overview-container" id="directorio-root">
                                                    <div class="row">
                                                        <!-- //  Rector -->
                                                        <div class="microsite-resumen column">
                                                            <div class="white-space-32"></div>
                                                            <div class="title-component align-center">
                                                                <h3>
                                                                    RECTOR
                                                                </h3>
                                                            </div>
                                                            <div class="white-space-16"></div>
                                                            <div class="banner-img bordered-dotted responsive-img">
                                                                <img id="banner-img" src="" alt="Fotografía" title="Banner Image">
                                                                <input class="hidden" id="banner-input" type="file" name="rector-foto">
                                                            </div>
                                                            <p class="text-center info-sheet"><a id="banner-button" href="#">Click para cambiar fotogragía</a></p>
                                                            <div class="white-space-16"></div>
                                                            <input type="text" name="rector-nombre" class="input input-ghost" placeholder="Nombre completo"/>
                                                            <div class="white-space-16"></div>
                                                            <input type="text" name="rector-cargo" class="input input-ghost" placeholder="Cargo" />
                                                            <div class="white-space-16"></div>
                                                            <textarea class="input-ghost input-ghost-parrafo text-justify" id="contenido1" name="rector-legenda" maxlength="250"
                                                            rows="5" placeholder="Legenda (250 carácteres máximo)"></textarea>
                                                            <div class="white-space-16"></div>
                                                            <input type="email" name="rector-email" class="input input-ghost" placeholder="Email" />
                                                        </div> <!-- //  End Rector -->
                                                    </div>

                                                    <div class="white-space-32"></div>
                                                    
                                                    <div id="directorio-dinamico" class="column">

                                                    </div>
                                                    
                                                    <a class="btn btn-lightBlue text-center" id="addNewDirectorio">
                                                        AÑADIR NUEVO
                                                    </a>

                                                </div>

                                                <div class="contenedor-componentes column" id="contenedor-componentes">
                                                    <div class="publicar column">
                                                        <div class="white-space-32"></div>
                                                        <div class="auto color-white">
                                                            <input class="btn btn-darkBlue" type="submit" value="ACTUALIZAR DIRECTORIO">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="white-space-32"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="white-space-32"></div>
                        </div>
                    </div>
                </div>

            </div> <!-- End Admin Content -->

        </div> <!-- End Main Column -->
    </div>
    <script type="text/javascript" src="../assets/js/admin.js" async></script>
    <script>        

        addNewDirectorio = document.getElementById('addNewDirectorio').onclick = function() {
            // Directorio dinámico

            /*  Crear columna nueva para agrupar los inputs */

            let directorioContenedor = document.getElementById('directorio-dinamico');
            let directorioRow = document.createElement('div');
            directorioRow.classList.add('column');

            /*  Añadir inputs y espacios en blando a la column (directorioRow) */

            directorioContenedor.appendChild(directorioRow);

            let directorioElement = document.createElement('div');
            directorioElement.innerHTML =
                '<div class="column">' +
                '<div class="white-space-32"></div>' +
                '<h3>Añadir nuevo </h3>' +
                '<div class="white-space-16"></div>' +
                '<input type="text" name="nombre" class="input input-ghost" placeholder="Nombre completo" />' +
                '<div class="white-space-16"></div>' +
                '<input type="text" name="cargo" class="input input-ghost" placeholder="Cargo" />' +
                '<div class="white-space-16"></div>' +
                '<input type="email" name="email" class="input input-ghost" placeholder="Email" />' +
                '<div class="white-space-32"></div>'
            '</div>';
            directorioContenedor.appendChild(directorioElement);

        };
        
    </script>
</body>

</html>