<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/nosotros.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>

    <div class="institutional flex">
        <div class="column">
            <!-- Banner -->
            <div class="banner justify-center align-center" style="background-image: url(../assets/img/header-bajas.jpg);">
                <div class="container">
                    <div class="title">
                        <h2>BAJAS Y EQUIVALENCIA</h2>
                    </div>
                </div>
            </div> <!-- End Banner -->

            <div class="bajas justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title">
                            <h2>BAJAS TEMPORALES Y DEFINITIVAS</h2>
                        </div>
                        <div class="white-space-8"></div>
                        <p>Guia para baja temporal o definitiva</p>
                        <div class="white-space-64"></div>
                        <div class="huge-list">
                            <div class="list">
                                <div class="number auto">
                                    <p class="textHuge">01 &nbsp</p>
                                </div>
                                <div class="description">
                                    <p class="text-justify"> Imprimir el formato de solicitud de baja, que podrá obtenerlo en el apartado de Servicios Escolares de la página de la Universidad.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Proceso -->

            <div class="proximo justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <h2 class="color-white text-center">Bajas y Equivalencias</h2>
                        <div class="white-space-32"></div>
                        <div class="justify-center">
                            <a class="btn btn-teal" href="#"> VISITAR PÁGINA</a>
                        </div>
                        <div class="white-space-64"></div>
                    </div>
                </div>
            </div>

        </div> <!-- End Main Column -->
    </div> <!-- End Nosotros Column -->



<body>
</body>
</html>
