<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/nosotros.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>

    <div class="institutional flex">
        <div class="column">
            <!-- Banner -->
            <div class="banner justify-center align-center" style="background-image: url(../assets/img/header-bajas.jpg);">
                <div class="container">
                    <div class="title">
                        <h2>BAJAS Y EQUIVALENCIA</h2>
                    </div>
                </div>
            </div> <!-- End Banner -->

            <div class="bajas justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title">
                            <h2>BAJAS TEMPORALES Y DEFINITIVAS</h2>
                        </div>
                        <div class="white-space-8"></div>
                        <p>Guia para baja temporal o definitiva</p>
                        <div class="white-space-48"></div>
                        <div class="huge-list">
                            <div class="column">
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>01</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Imprimir el formato de solicitud de baja, que podrá obtenerlo en el apartado de Servicios Escolares de la página de la Universidad.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>02</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Recabar las firmas en el orden descrito en el formato.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>03</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Entregar en la ventanilla del Departamento de Servicios escolares el formato Solicitud de baja.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="">
                                    <a class="btn btn-teal" href="#">DESCARGAR FORMATO</a>
                                </div>
                                <div class="white-space-32"></div>
                                <p class="textTiny">
                                    Para baja temporal. No haber trascurrido más de 40 días hábiles contados a partir del inicio del cuatrimestre, consultar la fecha límite en el calendario escolar vigente, para quelas asignaturas que esté cursando el alumno en el cuatrimestre que solicita la baja se consideraran como no acreditadas. Posterior a esta fecha se será baja definitiva.
                                </p>
                                <div class="white-space-48"></div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                    </div>
                </div>
            </div>


            <div class="bajas justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-16"></div>
                        <div class="title">
                                <h2>REVALIDACIÓN Y EQUIVALENCIAS</h2>
                        </div>
                        <div class="white-space-8"></div>
                        <p>Se establece una equivalencia o revalidación de estudios, para efecto de colocación del alumno en los programas educativos previa solicitud en el Departamento de Servicios Escolares, de conformidad con lo siguiente:</p>
                        <div class="white-space-48"></div>
                        <div class="huge-list">
                            <div class="column">
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>01</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Cuando haya cursado al menos un año de licenciatura.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>02</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Cuando hayan cursado asignaturas afines a los planes de estudio.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>03</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Cuando el contenido de la asignatura sea equivalente al menos en un 60% del programa de estudio vigente y la calificación sea mínima de 7.0.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>04</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Cuando el número de asignaturas equivalentes correspondan en un mínimo del 10% y un máximo de 40% de los créditos que conforman el plan de estudios correspondiente.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="list">
                                    <div class="hability-number auto">
                                        <p>05</p>
                                    </div>
                                    <div class="description">
                                        <p class="text-justify"> Cuando entregue la documentación requerida para la realización del trámite y cubra la cuota establecida de la universidad.</p>
                                    </div>
                                </div>
                                <div class="white-space-48"></div>
                                <div class="">
                                    <a class="btn btn-teal" href="#">DESCARGAR FORMATO</a>
                                </div>
                                <div class="white-space-32"></div>
                                <h4>IMPORTANTE</h4>
                                <div class="white-space-16"></div>
                                <p class="textTiny">
                                    Los aspirantes extranjeros, además de satisfacer los requisitos señalados en el presente reglamento, deberán acreditar su estancia legal en el país conforme a la legislación aplicable.
                                </p>
                                <div class="white-space-8"></div>
                                <p class="textTiny">
                                    Solicitar el trámite 30 días hábiles antes del términodel cuatrimestre anterior al que se desea ingresar (Verificar las fechas en el calendario escolares publicado en la página de la Universidad, apartado de Servicios Escolares).
                                </p>

                                <div class="white-space-48"></div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                    </div>
                </div>
            </div>

            <div class="proximo justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <h2 class="color-white text-center">Documentos Requeridos</h2>
                        <div class="white-space-16"></div>
                        <div class="justify-center">
                            <div class="container">
                                <div class="justify-center">
                                    <div class="column align-center">
                                        <p class="color-white text-justify">- Originales y Copias</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Formato de solicitud.(Se llena aquí)</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Programa de cada asignatura cursada y acreditada sellado y firmado por la escuela donde estudió)</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- 2 fotos tamaño infantil</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Formato de solicitud.(Se llena aquí)</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Comprobante de pago por los derechos ($750.00) Santander. RAP 4617, Referencia será tu CURP (18 dígitos)</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Certificado parcial de estudios</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Certificado de bachillerato</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Acta de nacimiento</p>
                                        <div class="white-space-8"></div>
                                        <p class="color-white text-justify">- Curp(Solo Copia)</p>
                                        <div class="white-space-16"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="white-space-64"></div>
                    </div>
                </div>
            </div>

        </div> <!-- End Main Column -->
    </div> <!-- End Nosotros Column -->



<body>
</body>
</html>
