

<!-- Componente Encabezado -->
<div class="white-space-32"></div>
<h3>Encabezado<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
<div class="white-space-8"></div>
<div class="sheet-title">
    <input class="input-ghost input-ghost-title" type="text" name="encabezado" maxlength="60" placeholder="Encabezado de texto (60 carácteres)">
</div>
<!-- // End Component Encabezado -->

<!-- Componente Parrafo -->
<div class="white-space-32"></div>
<div class="title-component">
    <h3>Parrafo<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
</div>
<div class="white-space-8"></div>
<div class="sheet-text align-center">
    <textarea class="input-ghost input-ghost-parrafo" name="sheet-parrafo" rows="7" maxlength="800" placeholder="Parrafo de texto (800 carácteres)"></textarea>
</div>
<!-- //End Componente Parrafo -->

<!-- Componente Imagen -->
<div class="white-space-32"></div>
<h3>Imagen única<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
<div class="white-space-8"></div>
<div class="single-img bordered-dotted responsive-img">
    <img src="" alt="Imagen única" title="Banner Image">
</div>
<p class="text-center info-sheet"><a href="#">Click para cambiar/elegir imagen</a></p>
<!-- //End Componente Imagen -->

<!-- Componente Galería -->
<div class="white-space-32"></div>
<h3>Galería<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
<div class="white-space-8"></div>
<div class="image-gallery column">
    <div class="row">
        <div class="single-image-gallery bordered-dotted responsive-img">
            <img src="" alt="Imagen 1" title="Imagen">
        </div>
        <div class="single-image-gallery bordered-dotted responsive-img">
            <img src="" alt="Imagen 2" title="Imagen">
        </div>
        <div class="single-image-gallery bordered-dotted responsive-img">
            <img src="" alt="Imagen 3" title="Imagen">
        </div>
    </div>
    <div class="white-space-16"></div>
    <div class="row">
        <div class="single-image-gallery bordered-dotted responsive-img">
            <img src="" alt="Imagen 4" title="Imagen">
        </div>
        <div class="single-image-gallery bordered-dotted responsive-img">
            <img src="" alt="Imagen 5" title="Imagen">
        </div>
        <div class="single-image-gallery bordered-dotted responsive-img">
            <img src="" alt="Imagen 6" title="Imagen">
        </div>
    </div>
</div>
<p class="text-center info-sheet"><a href="#">Click para cambiar/elegir imágenes</a></p>
<!-- //End Componente Galería -->

<!-- Componente Video -->
<div class="white-space-32"></div>
<h3>Video<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
<div class="white-space-8"></div>
<div class="sheet-text">
    <input class="input-ghost" type="text" name="description" maxlength="120" placeholder="ID del video youtube: IYwfFCaGllE">
    <a href="#" class="btn">VALIDAR</a>
</div>
<div class="white-space-16"></div>
<p class="info-sheet">Video Validado: &nbsp Video Promocional Universidad Politécnica</p>
<!-- // End Componente Video -->

<!-- Componente Lista -->
<div class="white-space-32"></div>
<h3>Enlaces<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">1.-</p>
    <input class="input-ghost input-ghost-link" type="text" name="description" placeholder="URL Enlace">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">2.-</p>
    <input class="input-ghost input-ghost-link" type="text" name="description" placeholder="URL Enlace">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">3.-</p>
    <input class="input-ghost input-ghost-link" type="text" name="description" placeholder="URL Enlace">
</div>
<div class="white-space-8"></div>
<!-- //End Componente Lista -->

<!-- Componente Lista -->
<div class="white-space-32"></div>
<h3>Lista<a class="btn" id="delete-component" href="#">ELIMINAR</a></h3>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">1.-</p>
    <input class="input-ghost input-ghost-list" type="text" name="description" maxlength="50" placeholder="Elemento de Lista (50 carácteres)">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">2.-</p>
    <input class="input-ghost input-ghost-list" type="text" name="description" maxlength="50" placeholder="Elemento de Lista (50 carácteres)">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">3.-</p>
    <input class="input-ghost input-ghost-list" type="text" name="description" maxlength="50" placeholder="Elemento de Lista (50 carácteres)">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">4.-</p>
    <input class="input-ghost input-ghost-list" type="text" name="description" maxlength="50" placeholder="Elemento de Lista (50 carácteres)">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">5.-</p>
    <input class="input-ghost input-ghost-list" type="text" name="description" maxlength="50" placeholder="Elemento de Lista (50 carácteres)">
</div>
<div class="white-space-8"></div>
<div class="sheet-text">
    <p class="info-sheet">6.-</p>
    <input class="input-ghost input-ghost-list" type="text" name="description" maxlength="50" placeholder="Elemento de Lista (50 carácteres)">
</div>
<div class="white-space-8"></div>
<!-- //End Componente Lista -->


