<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/eventos.css" media="screen">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Animate -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" media="screen">
    <title>UPQROO - EVENTOS</title>
</head>
<body>

    <!-- Events -->
    <div class="events flex justify-center wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="column">
                <div class="white-space-64"></div>
                <div class="title">
                    <h2>
                        Próximos Eventos
                    </h2>
                </div>

                <div class="white-space-32"></div>

                <!-- Events Cards -->
                <div class="events-cards">
                    <!-- Events row-responsive 3 Cards -->
                    <div class="row-responsive">

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END Events row-responsive 3 Cards -->
                </div> <!-- End Events Cards -->

                <!-- REPETIDO -->
                <div class="white-space-16"></div>

                <!-- Events Cards -->
                <div class="events-cards">
                    <!-- Events row-responsive 3 Cards -->
                    <div class="row-responsive">

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END Events row-responsive 3 Cards -->
                </div> <!-- End Events Cards -->

                <!-- REPETIDO -->
                <div class="white-space-16"></div>

                <!-- Events Cards -->
                <div class="events-cards">
                    <!-- Events row-responsive 3 Cards -->
                    <div class="row-responsive">

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="event-card bordered">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="date auto">
                                        <div class="column justify-center">
                                            <div class="day auto justify-center">
                                                <p class="color-white">
                                                    31
                                                </p>
                                            </div>
                                            <div class="month auto justify-center">
                                                <p class="color-white">
                                                    AGOSTO
                                                </p>
                                            </div>
                                            <div class="year auto justify-center">
                                                <p class="color-white">
                                                    2018
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info">
                                        <div class="container">
                                            <div class="column">
                                                <div class="new-title">
                                                    <h3>
                                                        Semana Nacional Ciencia y Tecnología
                                                    </h3>
                                                </div>
                                                <div class="schedule align-center">
                                                    <i class="fas fa-clock"></i>
                                                    <p>
                                                        &nbsp 13:00
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a  class="read-more" href="#">CONOCER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END Events row-responsive 3 Cards -->
                </div> <!-- End Events Cards -->

                <div class="white-space-32"></div>
                <!-- Paginación -->
                <div class="pagination">
                    <div class="color-lightBlue justify-start">
                        <a class="prev link" href="#">ANTERIOR</a>
                    </div>
                    <div class="color-lightBlue justify-end">
                        <a class="next link" href="#">SIGUIENTE</a>
                    </div>
                </div>
                <!-- End Paginación -->

                <div class="white-space-48"></div>
            </div> <!-- End Main Column -->
        </div> <!-- End Main Container -->
    </div><!-- End Events -->

</body>
</html>
