<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> - UPQROO</title>
	<meta name="description" content="Únete a UPQROO! La oferta educativa superior con áreas de oportunidades y crecimiento">
	<meta name="keywords" content="universisad, universidad en cancún, UPQROO, universidad politécnica de quinatana roo, universidades">
	<link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
	<link rel="stylesheet" href="../assets/css/footer.css" media="screen">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>

<body>

	<footer class="flex justify-center">
		<div class="column">
			<div class="footer-main justify-center">
				<div class="container">
					<div class="row-responsive">
						<div class="left">
							<div class="column">
								<div class="white-space-32"></div>
								<h3 class="color-white">UNIVERSIDAD</h3>
								<div class="quick-links">
									<div class="column">
										<div class="white-space-8"></div>
										<div class="quick-link">
											<a class="footer-link" href="#">NOSOTROS</a>
										</div>
										<div class="quick-link">
											<a class="footer-link" href="#">DIRECTORIO</a>
										</div>
										<div class="quick-link">
											<a class="footer-link" href="#">ADMISIÓN</a>
										</div>
									</div>
								</div>
								<div class="white-space-32"></div>
							</div>
						</div>
						<div class="middle">
							<div class="column justify-center">
								<div class="white-space-32"></div>
								<div class="responsive-img logo">
									<img src="../assets/img/upqroo-newlogo.png" alt="">
								</div>
								<div class="white-space-32"></div>
							</div>

						</div>
						<div class="right justify-end">
							<div class="column align-end">

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom justify-center">
				<div class="container">
					<div class="column">
						<div class="white-space-8"></div>
						<div class="row">
							<div class="social justify-center">
								<a class="element text-center btn" href="https://www.facebook.com/upqroo"><i class="social-icon-dark fab fa-facebook-f"></i></a>
								<a class="element text-center btn" href="https://twitter.com/upqroo"><i class="social-icon-dark fab fa-twitter"></i></a>
								<a class="element text-center btn" href="https://www.youtube.com/channel/UCy6VTWYIB9tay8P28cPe6Eg"><i class="social-icon-dark fab fa-youtube"></i></a>
								<a class="element text-center btn" href="mailto:info@upqroo.edu.mx"><i class="social-icon-dark fa fa-envelope"></i></a>
							</div>
						</div>
						<div class="row">
							<div class="address justify-center">
								<p class="text-center textTiny">Av. Arco Bicentenario, Mza. 11, Lote 1119-33, Sm. 255. Cancún, Quintana Roo, México. C.P. 77500 <br> Tel. y Fax (998) 283 1859</p>
							</div>
						</div>
						<div class="white-space-32"></div>
					</div>
				</div>
			</div>
	</footer>

</body>
</html>
