<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/css/form.css">
        <link rel="stylesheet" href="../assets/css/trejocode.css">
        <title>UPQROO - LOGIN</title>
    </head>
    <body>
        <div class="login flex">
           <div class="row-responsive">
               <div class="left"></div>
                   <div class="rigth">
                      <div class="column">
                         <div class="white-space-32"></div>
                          <div class="logo">
                               <div class="responsive-img">
                                   <img src="../assets/img/logo-upqroo.png" alt="">
                                </div>
                            </div>
                            <div class="white-space-32"></div>
                            <h2 class="text-center">INICIAR SESION</h2>
                            <div class="login-form justify-center">
                                <div class="container">
                                     <form action="">
                                         <div class="container">
                                             <div class="column">
                                       
                                                <label for="email">CORREO:</label>
                                                <div class="white-space-8"></div>
                                                <input type="email" name="email">
                                                <div class="white-space-16"></div>
                                                <label for="">CONTRASEÑA:</label>
                                                <div class="white-space-8"></div>
                                                <input type="text" name="password">
                                                <div class="white-space-16"></div>
                                                <input type="submit" value="INGRESAR">
                                                <div class="white-space-32"></div>
                                            </div>
                                    
                                        </div>
                                
                                    </form>
                                </div>
                            </div>
                           
                            
                   
                       </div>
                   </div>
               </div>
            
            </div>
    </body>
    </html>