<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - UPQROO</title>
    <meta name="description" content="Únete a UPQROO! La oferta educativa superior con áreas de oportunidades y crecimiento">
    <meta name="keywords" content="universisad, universidad en cancún, UPQROO, universidad politécnica de quinatana roo, universidades">
    <link rel="stylesheet" href="../assets/css/trejocode.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>

  <header>
<section>
    
        <nav>

          <ul class="contact">
          
          <i class="fa fa-phone"><a href="tel:(998)2831859">  (998) 283 1859</a></i>
          <i class="fa fa-envelope"><a href="mailto:info@upqroo.edu.mx">  info@upqroo.edu.mx</a></i>
              
        <secction class="social">
         
          <i class="fa fa-facebook-f" id="face"><a href="https://es-es.facebook.com/upqroo" title="Facebook"></a></i>
          <i class="fa fa-twitter" id="twit"><a href="https://twitter.com/upqroo" title="Twitter"></a></i>
          
        </secction>
    
          </ul>              
            
    </nav>
</section>
  </header>
   
    
<section class="wrapper">
    
    <nav class="top">
       
            <ul>   
                <img src="../logo-upqroo.png" alt="logo" id="logo"> 
                <li><a href="#" id="menu">UNIVERSIDAD</a></li>
                <li><a href="#" id="menu">CARRERAS</a></li>
                <li><a href="#" id="menu">NOTICIAS</a></li>
                <li><a href="#" id="menu">SERVICIOS</a></li>
                <li><a href="#" id="menu">VINCULACIÓN</a></li>
                
                
            </ul>
     </nav>
</section>

    <script type="text/javascript" src="assets/js/main.js" async></script>
</body>
</html>
