<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - UPQROO</title>
    <meta name="description" content="Únete a UPQROO! La oferta educativa superior con áreas de oportunidades y crecimiento">
    <meta name="keywords" content="universisad, universidad en cancún, UPQROO, universidad politécnica de quinatana roo, universidades">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/header.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/animate.min.css" media="screen">
</head>
<body>

    <header class="flex">
        <div class="column">
            <div class="header-top justify-center wow fadeInDown">
                <div class="container">
                    <div class="row">
                        <div class="left">
                            <div class="row align-center">
                                <div class="phone auto">
                                    <i class="color-white fas fa-phone"></i>
                                    <a class="color-white" href="tel:9982831859">&nbsp (998) 283 1859</a>
                                </div>
                                <div class="email auto">
                                    <i class="color-white fas fa-envelope"></i>
                                    <a class="color-white" href="mailto:info@upqroo.edu.mx">&nbsp info@upqroo.edu.mx</a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="row justify-end align-center">
                                <a class="facebook-icon auto" rel="follow" href="https://www.facebook.com/upqroo">
                                    <i class="color-white fab fa-facebook-f"></i>
                                </a>
                                <a class="twitter-icon auto" rel="follow" href="https://twitter.com/upqroo">
                                    <i class="color-white fab fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-main justify-center wow fadeInDown">
                <div class="container">
                    <div class="row">
                        <div class="left">
                            <div class="logo responsive-img">
                                <a href="#">
                                    <img src="../assets/img/logo-upqroo.png" alt="Logo UPQROO" title="Logo UPQROO">
                                </a>
                            </div>
                        </div>
                        <div class="right">
                            <nav class="row align-center justify-end">
                                <div class="nav-item auto">
                                    <a href="#">UNIVERSIDAD</a>
                                </div>

                                <div class="nav-item auto">
                                    <a href="#">CARRERAS</a>
                                </div>

                                <div class="nav-item auto">
                                    <a href="#">NOTICIAS</a>
                                </div>

                                <div class="nav-item auto">
                                    <a href="#">SERVICIOS ESCOLARES</a>
                                </div>

                                <div class="nav-item auto">
                                    <a href="#">VINCULACIÓN</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script type="text/javascript" src="../assets/js/main.js" async></script>
    <script type="text/javascript" src="../assets/js/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>
</body>
</html>
