<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - UPQROO</title>
    <meta name="description" content="Únete a UPQROO! La oferta educativa superior con áreas de oportunidades y crecimiento">
    <meta name="keywords" content="universisad, universidad en cancún, UPQROO, universidad politécnica de quinatana roo, universidades">
    <link rel="stylesheet" href="../assets/css/trejocode.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>

<header class="flex">
    <div class="column">
        <div class="header-top justify-center">
            <div class="container">
                <div class="row">
                    <div class="left">
                        <div class="row align-center">
                            <div class="phone">
                                <i class="fas fa-phone"></i>
                                <a href="tel:9981793443">(998) 179 34 43</a>
                            </div>
                            
                            <div class="email">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:info@upqroo.edu.mx">info@upqroo.edu.mx</a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="row justify-end align-center">
                            <a class="facebook-icon" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="twitter-icon" href="#"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="header-main justify-center">
           <div class="container">
            <div class="row">
                <div class="left">
                    <div class="logo responsive-img justify-start">                    
                        <img src="../assets/img/logo-upqroo.png" alt="">
                    </div>
                </div>
                
                <div class="right">
                    
                        <nav class="row">
                            <div class="nav-item">
                                <a href="#">UNIVERSIDAD</a>
                            </div>
                            
                            <div class="nav-item">
                                <a href="#">CARRERAS</a>
                            </div>
                            
                            <div class="nav-item">
                                <a href="#">NOTICIAS</a>
                            </div>
                            
                            <div class="nav-item">
                                <a href="#">SERVICIOS ESCOLARES</a>
                            </div>
                            
                            <div class="nav-item">
                                <a href="#">VINCULACIÓN</a>
                            </div>
                        </nav>
                    
                </div>
              </div>
            </div>
        </div>
    </div>
    
</header>

    <script type="text/javascript" src="assets/js/main.js" async></script>
</body>
</html>
