<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/home.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>

    <div class="home flex">
        <div class="column">
            <!-- Slider -->
            <div class="slider">
                <div class="slide">
                    <a href="#">
                        <img src="../assets/img/slide1.jpg" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../assets/img/slide2.jpg" alt="">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../assets/img/slide1.jpg" alt="">
                    </a>
                </div>
            </div>
            <!-- End Slider -->

            <!-- Quick-Info -->
            <div class="quick-info justify-center">
                <div class="row-responsive">
                    <div class="left justify-center">
                        <div class="inner-container">
                            <div class="column">
                                <div class="white-space-64"></div>
                                <h2 class="textHuge">LA OFERTA EDUCATIVA SUPERIOR CON ÁREAS DE OPORTUNIDADES Y CRECIMIENTO</h2>
                                <div class="white-space-16"></div>
                                <p>Somos una Universidad con desarrollo inteligente, sostenible e integrador; efectiva y eficiente.<p>
                                <p>Los caminos hay que construirlos, los horizontes hay que alcanzarlos y el futuro hay que soñarlo. </p>
                                <p>Integrate al progreso continuo, las cosas no ocurren por si mismas, ¡Únete a UPQROO!</p>
                                <div class="white-space-32"></div>
                                <div>
                                    <a class="btn btn-blue" href="#">CONOCER MÁS</a>
                                </div>
                                <div class="white-space-64"></div>
                            </div>
                        </div>

                    </div>
                    <div class="right justify-center">
                        <div class="container">
                            <div class="column">
                                <div class="records column align-center">
                                    <div class="white-space-64"></div>
                                    <div class="row-responsive">
                                        <div class="group column align-center">
                                            <h2>+100</h2>
                                            <p>Docentes / Investigadores</p>
                                        </div>
                                        <div class="group column align-center">
                                            <h2>+1100</h2>
                                            <p>Estudiantes</p>
                                        </div>
                                    </div>
                                    <div class="white-space-64"></div>
                                    <div class="row-responsive">
                                        <div class="group column align-center">
                                            <h2>6</h2>
                                            <p>Carreras</p>
                                        </div>
                                        <div class="group column align-center">
                                            <h2>8</h2>
                                            <p>Laboratorios</p>
                                        </div>
                                    </div>
                                    <div class="white-space-32"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Quick-Info -->

            <!-- Carreras -->
            <div class="career justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title justify-start">
                            <h2>CARRERAS</h2>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="row-responsive">

                        </div>
                        <div class="white-space-64"></div>
                    </div>
                </div>
            </div>
            <!-- End Carreras -->

        </div>
    </div>

<body>
</body>
</html>
