<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/home.css" media="screen">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Animate -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" media="screen">
    <title>UPQROO - INICIO</title>
</head>

    <div class="home flex">
        <!-- Main Column -->
        <div class="column">
            <!-- Slider -->
            <div class="slider">
                <div class="slide">
                    <a href="#">
                        <img src="../assets/img/slide1.jpg" alt="Banner UPQROO 1" title="Banner UPQROO 1">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../assets/img/slide2.jpg" alt="Banner UPQROO 2" title="Banner UPQROO 3">
                    </a>
                </div>
                <div class="slide">
                    <a href="#">
                        <img src="../assets/img/slide1.jpg" alt="Banner UPQROO 3" title="Banner UPQROO 3">
                    </a>
                </div>
            </div> <!-- End Slider -->

            <!-- Quick-Info -->
            <div class="quick-info wow fadeIn">
                <div class="column">
                    <div class="row justify-center">
                        <div class="container row-responsive">
                            <div class="left">
                                <div class="column">
                                    <div class="white-space-64"></div>
                                    <h2>
                                        LA OFERTA EDUCATIVA SUPERIOR CON ÁREAS DE OPORTUNIDADES Y CRECIMIENTO
                                    </h2>
                                    <div class="white-space-16"></div>
                                    <p class="text-justify">
                                        La Universidad Politécnica de Quintana Roo, es una institución pública que imparte educación superior basada en competencias para preparar a profesionales con una sólida formación científica y un liderazgo tecnológico basado en valores que coadyuve al progreso económico y social del estado de Quintana Roo respetando el medio ambiente y la cultura.
                                    </p>
                                    <div class="white-space-24"></div>
                                    <div class="color-white">
                                        <a class="btn btn-darkBlue hvr-ripple-out" href="#">CONOCER MÁS</a>
                                    </div>
                                    <div class="white-space-32"></div>
                                </div>
                            </div>
                            <div class="right">
                                <div class="column justify-center">
                                    <div class="white-space-64"></div>
                                    <div class="video">
                                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fupqroo%2Fvideos%2F1873829202676183%2F&width=500&show_text=false&appId=106872526802579&height=275" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media" allowFullScreen="true"></iframe>
                                    </div>
                                    <div class="white-space-16"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Quick-Info -->

            <!-- Carreras -->
            <div class="careers justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title">
                            <h2>CARRERAS</h2>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="column">
                            <div class="row-responsive">
                                <div class="career wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/carrera-soft.jpg" alt="Ingeniería en Software" alt="Ingeniería en Software">
                                        </a>
                                    </div>
                                </div>
                                <div class="career wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/carrera-biot.jpg" alt="Ingeniería en Biotecnología" alt="Ingeniería en Biotecnología">
                                        </a>
                                    </div>
                                </div>
                                <div class="career wow fadeInLeft" data-wow-delay="0.7s">
                                    <div class="responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/carrera-biom.jpg" alt="Ingeniería en Biomédica" alt="Ingeniería en Biomédica">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="row-responsive">
                                <div class="career wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/carrera-fina.jpg" alt="Ingeniería Financiera" alt="Ingeniería Financiera">
                                        </a>
                                    </div>
                                </div>
                                <div class="career wow fadeInLeft" data-wow-delay="0.5s">
                                    <div class="responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/carrera-pyme.jpg" alt="Licenciatura en PyMEs" alt="Licenciatura en PyMes">
                                        </a>
                                    </div>
                                </div>
                                <div class="career wow fadeInLeft" data-wow-delay="0.7s">
                                    <div class="responsive-img">
                                        <a href="#">
                                            <img src="../assets/img/carrera-tera.jpg" alt="Licenciatura en Terapia Física" alt="Licenciatura en Terapia Física">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-64"></div>
                    </div>
                </div>
            </div>
            <!-- End Carreras -->

            <!-- Call To Action -->
            <div class="call-to-action justify-center align-center" style="background-image: url(../assets/img/parallax-uni.jpg);">
                <div class="container">
                    <div class="column wow fadeInUp">
                        <div class="white-space-64"></div>
                        <h2 class="color-white">
                            FORMANDO EL FUTURO
                        </h2>
                        <div class="white-space-16"></div>
                        <p class="text-justify color-white">
                            Se parte de la Universidad Politécnica de Quintana Roo.
                            <br> Haz la mejor elección para tú futuro.
                        </p>
                        <div class="white-space-16"></div>
                        <div class="color-white">
                            <a class="btn btn-darkBlue auto" href="#">PROCESO DE ADMISIÓN</a>
                        </div>
                        <div class="white-space-64"></div>
                    </div>
                </div>
            </div> <!-- End Call To Action -->

            <!-- News Cards -->

            <div class="news justify-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title">
                            <h2>
                                Últimas Noticias
                            </h2>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="news-cards">
                            <div class="row-responsive">

                                <div class="new-card bordered">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>
                                                        02/10/2018 &nbsp
                                                    </p>
                                                    <p>
                                                        Licenciatura en Terapia Física
                                                    </p>
                                                </div>
                                                <div class="new-title">
                                                    <h3>
                                                        Firma de Convenios con Instituciones Educativas
                                                    </h3>
                                                </div>
                                                <div class="description">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a class="read-more" href="#">LEER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card bordered">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>
                                                        02/10/2018 &nbsp
                                                    </p>
                                                    <p>
                                                        Ingenieria en Software
                                                    </p>
                                                </div>
                                                <div class="new-title">
                                                    <h3>
                                                        Firma de Convenios con Instituciones Educativas
                                                    </h3>
                                                </div>
                                                <div class="description">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a class="read-more" href="#">LEER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card bordered">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>
                                                        02/10/2018 &nbsp
                                                    </p>
                                                    <p>
                                                        Ingenieria en Biotecnología
                                                    </p>
                                                </div>
                                                <div class="new-title">
                                                    <h3>
                                                        Firma de Convenios con Instituciones Educativas
                                                    </h3>
                                                </div>
                                                <div class="description">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                                    </p>
                                                </div>
                                                <div class="auto color-lightBlue">
                                                    <a class="read-more" href="#">LEER MÁS</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- End News Cards -->

        <!-- Events -->
        <div class="events justify-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="container">
                <div class="column">
                    <div class="white-space-64"></div>
                    <div class="title">
                        <h2>
                            Próximos Eventos
                        </h2>
                    </div>
                    <div class="white-space-32"></div>
                    <div class="events-cards">
                        <div class="row-responsive">

                            <div class="event-card bordered">
                                <div class="column">
                                    <div class="row-responsive">
                                        <div class="date auto">
                                            <div class="column justify-center">
                                                <div class="day auto justify-center">
                                                    <p class="color-white">
                                                        31
                                                    </p>
                                                </div>
                                                <div class="month auto justify-center">
                                                    <p class="color-white">
                                                        AGOSTO
                                                    </p>
                                                </div>
                                                <div class="year auto justify-center">
                                                    <p class="color-white">
                                                        2018
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="container">
                                                <div class="column">
                                                    <div class="new-title">
                                                        <h3>
                                                            Semana Nacional Ciencia y Tecnología
                                                        </h3>
                                                    </div>
                                                    <div class="schedule align-center">
                                                        <i class="fas fa-clock"></i>
                                                        <p>
                                                            &nbsp 13:00
                                                        </p>
                                                    </div>
                                                    <div class="auto color-lightBlue">
                                                        <a  class="read-more" href="#">CONOCER MÁS</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="event-card bordered">
                                <div class="column">
                                    <div class="row-responsive">
                                        <div class="date auto">
                                            <div class="column justify-center">
                                                <div class="day auto justify-center">
                                                    <p class="color-white">
                                                        31
                                                    </p>
                                                </div>
                                                <div class="month auto justify-center">
                                                    <p class="color-white">
                                                        AGOSTO
                                                    </p>
                                                </div>
                                                <div class="year auto justify-center">
                                                    <p class="color-white">
                                                        2018
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="container">
                                                <div class="column">
                                                    <div class="new-title">
                                                        <h3>
                                                            Semana Nacional Ciencia y Tecnología
                                                        </h3>
                                                    </div>
                                                    <div class="schedule align-center">
                                                        <i class="fas fa-clock"></i>
                                                        <p>
                                                            &nbsp 13:00
                                                        </p>
                                                    </div>
                                                    <div class="auto color-lightBlue">
                                                        <a  class="read-more" href="#">CONOCER MÁS</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="event-card bordered">
                                <div class="column">
                                    <div class="row-responsive">
                                        <div class="date auto">
                                            <div class="column justify-center">
                                                <div class="day auto justify-center">
                                                    <p class="color-white">
                                                        31
                                                    </p>
                                                </div>
                                                <div class="month auto justify-center">
                                                    <p class="color-white">
                                                        AGOSTO
                                                    </p>
                                                </div>
                                                <div class="year auto justify-center">
                                                    <p class="color-white">
                                                        2018
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="info">
                                            <div class="container">
                                                <div class="column">
                                                    <div class="new-title">
                                                        <h3>
                                                            Semana Nacional Ciencia y Tecnología
                                                        </h3>
                                                    </div>
                                                    <div class="schedule align-center">
                                                        <i class="fas fa-clock"></i>
                                                        <p>
                                                            &nbsp 13:00
                                                        </p>
                                                    </div>
                                                    <div class="auto color-lightBlue">
                                                        <a  class="read-more" href="#">CONOCER MÁS</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="white-space-64"></div>
                </div>
            </div>
        </div><!-- End Events -->
        <div class="aliados justify-center wow fadeInDown">
            <div class="container">
                <div class="column">
                    <div class="responsive-img">
                        <img src="../assets/img/aliados.png" alt="Aliados UPQROO" title="Aliados UPQROO">
                    </div>
                    <div class="white-space-32"></div>
                </div>
            </div>
        </div>

        <footer class="flex" style="background-image: url(../assets/img/new-footer-blue.jpg)">
            <div class="column">
                <div class="justify-center">
                    <div class="container column">
                        <div class="footer-top">
                            <div class="column">                                
                                <div class="white-space-64"></div>
                                <div class="row-responsive">
                                    <div class="column column-aguila">
                                        <div class="logo-aguila">
                                            <img src="../assets/img/upqroo-newlogo.png" alt="">
                                        </div>                                        
                                    </div> 
                                    <div class="column footer-links">
                                        <h2 class="color-white">
                                            CONÓCENOS
                                        </h2>
                                        <div class="white-space-8"></div>
                                        <div class="footer-link color-white">
                                            <a class="link" href="">Nosotros</a>
                                        </div>
                                        <div class="white-space-8"></div>
                                        <div class="footer-link color-white">
                                            <a class="link" href="">Carreras</a>
                                        </div>
                                        <div class="white-space-8"></div>
                                        <div class="footer-link color-white">
                                            <a class="link" href="">Vinculación</a>
                                        </div>
                                        <div class="white-space-8"></div>
                                        <div class="footer-link color-white">
                                            <a class="link" href="">Transparencia</a>
                                        </div>
                                    </div>
                                    <div class="hideInMobile">
                                    </div>
                                </div>                                                                
                                <div class="white-space-64"></div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="column">                                
                                <div class="white-space-24"></div>
                                <div class="justify-center">
                                    <p class="color-white text-center">
                                        Av. Arco Bicentenario, Mza. 11, Lote 1119-33, SM. 255. Cancún, Quintana Roo, México. C.P. 77500
                                        <br> <a href="tel:(998) 283 1859"> Tel. y Fax (998) 283 1859 </a>
                                    </p>
                                </div>
                                <div class="white-space-24"></div>                                
                                <div class="social justify-center">
                                    <div class="social-icon auto">
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>                                        
                                    </div>
                                    <div class="social-icon auto">
                                        <a href="#">
                                            <i class="fab fa-facebook-messenger"></i>
                                        </a>                                        
                                    </div>
                                    <div class="social-icon auto">
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>                                        
                                    </div>
                                    <div class="social-icon auto">
                                        <a href="#">
                                            <i class="fab fa-youtube"></i>
                                        </a> 
                                    </div>
                                    <div class="social-icon auto">
                                        <a href="#">
                                            <i class="fas fa-envelope"></i>
                                        </a>                                        
                                    </div>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="justify-center color-white">
                                    <a id="polices" href="#">
                                        Políticas de Privacidad
                                    </a>
                                </div>
                                <div class="white-space-32"></div>
                            </div>                                               
                        </div>


                    </div>
                </div>
            </div>           
        </footer>

        </div> <!-- Main Column -->
    </div>

    <script type="text/javascript" src="../assets/js/wow.min.js"></script>
    <script type="text/javascript">
        new WOW().init();
    </script>

<body>
</body>
</html>
