<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/noticias.css" media="screen">
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Animate -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" media="screen">
    <title>UPQROO - NOTICIAS</title>
</head>
<body>

    <div class="news flex justify-center wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="column">
                <div class="white-space-64"></div>
                <div class="title">
                    <h2>
                        Últimas Noticias
                    </h2>
                </div>

                <div class="white-space-32"></div>

                <!-- News Card -->
                <div class="news-cards">
                    <!-- News row-responsive 3 Cards -->
                    <div class="row-responsive">

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Licenciatura en Terapia Física
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Ingenieria en Software
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Ingenieria en Biotecnología
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END News row-responsive 3 Cards -->
                </div> <!-- END News Card -->

                <!-- REPETIDO -->
                <div class="white-space-16"></div>

                <!-- News Card -->
                <div class="news-cards">
                    <!-- News row-responsive 3 Cards -->
                    <div class="row-responsive">

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Licenciatura en Terapia Física
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Ingenieria en Software
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Ingenieria en Biotecnología
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END News row-responsive 3 Cards -->
                </div> <!-- END News Card -->


                <!-- REPETIDO -->
                <div class="white-space-16"></div>

                <!-- News Card -->
                <div class="news-cards">
                    <!-- News row-responsive 3 Cards -->
                    <div class="row-responsive">

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Licenciatura en Terapia Física
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Ingenieria en Software
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-card bordered">
                            <div class="column">
                                <div class="featured-img responsive-img">
                                    <img src="../assets/img/noticia.jpg" alt="Imagen Noticia" title="Imagen Noticia">
                                </div>
                                <div class="container">
                                    <div class="column">
                                        <div class="date">
                                            <p>
                                                02/10/2018 &nbsp
                                            </p>
                                            <p>
                                                Ingenieria en Biotecnología
                                            </p>
                                        </div>
                                        <div class="new-title">
                                            <h3>
                                                Firma de Convenios con Instituciones Educativas
                                            </h3>
                                        </div>
                                        <div class="description">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                        </div>
                                        <div class="auto color-lightBlue">
                                            <a class="read-more" href="#">LEER MÁS</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- END News row-responsive 3 Cards -->
                </div> <!-- END News Card -->

                <div class="white-space-32"></div>

                <!-- Paginación -->
                <div class="pagination">
                    <div class="color-lightBlue justify-start">
                        <a class="prev link" href="#">ANTERIOR</a>
                    </div>
                    <div class="color-lightBlue justify-end">
                        <a class="next link" href="#">SIGUIENTE</a>
                    </div>
                </div>
                <!-- End Paginación -->

                <div class="white-space-48"></div>

            </div> <!-- END Main Column -->
        </div> <!-- END Main Container -->
    </div> <!-- End News -->

</body>
</html>
