<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/noticias.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    
    <title>Document</title>
</head>
<body>
   <div class="home flex">
    <!-- News Cards -->

            <div class="news justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <h2 class="textHuge">Últimas Noticias</h2>
                        <div class="white-space-32"></div>
                        <div class="news-cards">
                            <div class="row-responsive">

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                

                            </div>
                        </div>
                        <div class="white-space-8"></div>
                    </div>
                </div>
            </div>
       </div>
        <!-- End News Cards -->
    <div class="home flex" >
    <!-- News Cards -->
            <div class="news justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="white-space-32"></div>
                        <div class="news-cards">
                            <div class="row-responsive">

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                

                            </div>
                        </div>
                        <div class="white-space-8"></div>
                    </div>
                </div>
            </div>
       </div>


<div class="home flex">
    <!-- News Cards -->

            <div class="news justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="white-space-32"></div>
                        <div class="news-cards">
                            <div class="row-responsive">

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="white-space-8"></div>
                    </div>
                </div>
            </div>
       </div>


<div class="home flex">
    <!-- News Cards -->

            <div class="news justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="white-space-32"></div>
                        <div class="news-cards">
                            <div class="row-responsive">

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="new-card">
                                    <div class="column">
                                        <div class="featured-img responsive-img">
                                            <img src="../assets/img/noticia.jpg" alt="">
                                        </div>
                                        <div class="container">
                                            <div class="column">
                                                <div class="date">
                                                    <p>2 de Marzo, 2018</p>
                                                </div>
                                                <div class="title">
                                                    <h3>Firma de Convenios con Instituciones Educativas</h3>
                                                </div>
                                                <div class="description">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                </div>
                                                <a class="read-more" href="#">Leer Más</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="white-space-8"></div>
                    </div>
                </div>
            </div>
       </div>


</body>
</html>