<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/noticia.css" media="screen">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    <!-- GoogleFonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Animate -->
    <link rel="stylesheet" href="../assets/css/animate.min.css" media="screen">
    <title>UPQROO - NOTICIA</title>
</head>
<body>

    <div class="noticia flex">
        <div class="column">
            <div class="white-space-64"></div>
            <div class="row justify-center">
                <div class="container">
                    <div class="row-responsive" id="ipad-break">
                        <div class="left bordered">
                            <div class="column">
                                <div class="banner-img">
                                    <div class="responsive-img">
                                        <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                    </div>
                                </div>
                                <div class="noticia-title auto">
                                    <h1>
                                        Firma de Convenios con Instituciones Educativas
                                    </h1>
                                </div>
                                <div class="row">
                                    <div class="noticia-date align-center auto">
                                        <i class="fas fa-calendar-alt"></i>
                                        <p>&nbsp 10/12/2018</p>
                                    </div>
                                    <div class="noticia-carrera align-center auto">
                                        <i class="fas fa-bookmark"></i>
                                        <p>
                                            &nbsp Licenciatura en Terapia Física
                                        </p>
                                    </div>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-parrafo auto">
                                    <p>
                                        Por cuarta ocasión consecutiva, se llevó a cabo la “Expo Biotec”, en donde participaron 170 alumnos de la Universidad Politécnica de Quintana Roo (Upqroo) con 30 proyectos de aprovechamiento del entorno natural para convertirlos en productos alimenticios, farmacéuticos, entre otros.
                                    </p>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-subtitulo auto">
                                    <h3>
                                        Universitarios presentaron productos alimenticios, farmacéuticos.
                                    </h3>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-parrafo auto">
                                    <p>
                                        En ediciones anteriores se han exhibido proyectos como creación de bioplástico a partir del sargazo, así como también alimentos derivados del mismo producto; opciones de huertos orgánicos para espacios reducidos dentro del hogar, bebidas elaboradas a partir de la fermentación de algún elemento de la naturaleza, entre otros.
                                        Algunos de los proyectos que más destacaron según la coordinadora de la carrera, fueron “conservación de guaya”, “tintas naturales”, “cápsulas para adelgazar”, “repelente para mosco transmisor de dengue, zika y chikungunya”, y “prototipo de transformación de los gases de efecto invernadero”.
                                    </p>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-subtitulo auto">
                                    <h3>
                                        Listados
                                    </h3>
                                </div>
                                <div class="white-space-16"></div>
                                <ul class="componente-lista">
                                    <li><i class="fas fa-check"></i>&nbsp Pago único $100</li>
                                    <li><i class="fas fa-check"></i>&nbsp Copia seguro social</li>
                                    <li><i class="fas fa-check"></i>&nbsp Carta de aceptación firmada</li>
                                </ul>
                                <div class="white-space-16"></div>
                                <div class="componente-subtitulo auto">
                                    <h3>
                                        Galerías
                                    </h3>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-galeria">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                            </div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                            </div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                            </div>
                                        </div>
                                        <div class="row-responsive">
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                            </div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                            </div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Imagen de Portada" title="Imagen de Portada">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-parrafo auto">
                                    <p>
                                        En ediciones anteriores se han exhibido proyectos como creación de bioplástico a partir del sargazo, así como también alimentos derivados del mismo producto; opciones de huertos orgánicos para espacios reducidos dentro del hogar, bebidas elaboradas a partir de la fermentación de algún elemento de la naturaleza, entre otros.
                                        Algunos de los proyectos que más destacaron según la coordinadora de la carrera, fueron “conservación de guaya”, “tintas naturales”, “cápsulas para adelgazar”, “repelente para mosco transmisor de dengue, zika y chikungunya”, y “prototipo de transformación de los gases de efecto invernadero”.
                                    </p>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-video">
                                    <iframe width="96%" height="500" src="https://www.youtube.com/embed/AWh9gESAOO0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="white-space-32"></div>
                                <!-- SEO Tags -->
                                <div class="componente-tags auto align-center">
                                    <i class="fas fa-hashtag"></i>
                                    <p>
                                        &nbsp UPQROO, Orgullo, Cancún, Universidad</p>
                                </div>
                                <div class="white-space-32"></div>
                                <div class="componente-subtitulo auto">
                                    <h3>
                                        Enlances de interés
                                    </h3>
                                </div>
                                <div class="white-space-16"></div>
                                <div class="componente-enlaces row-responsive">
                                    <a class="link auto" href="#"><i class="fas fa-external-link-alt"></i> Artículo Completo</a>
                                    <a class="link auto" href="#"><i class="fas fa-external-link-alt"></i> Artículo 19 de la Constitución</a>
                                    <a class="link auto" href="#"><i class="fas fa-external-link-alt"></i> Código Fuente</a>
                                </div>
                                <div class="white-space-64"></div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="column">
                                <div class="recent-post bordered justify-center">
                                    <div class="container">
                                        <div class="column">
                                            <div class="white-space-32"></div>
                                            <h3>
                                                Últimas Noticias
                                            </h3>
                                            <div class="white-space-32"></div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia.jpg" alt="Noticia Reciente" title="Noticia Reciente">
                                            </div>
                                            <div class="white-space-8"></div>
                                            <h5>
                                                Segunda Exposoft 2018
                                            </h5>
                                            <div class="white-space-32"></div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia-portada.jpg" alt="Noticia Reciente" title="Noticia Reciente">
                                            </div>
                                            <div class="white-space-8"></div>
                                            <h5>
                                                Inauguración Edicifio de Terapia Física
                                            </h5>
                                            <div class="white-space-32"></div>
                                            <div class="responsive-img">
                                                <img src="../assets/img/noticia.jpg" alt="Noticia Reciente" title="Noticia Reciente">
                                            </div>
                                            <div class="white-space-8"></div>
                                            <h5>
                                                PyMES 'Sin creatividad'
                                            </h5>
                                            <div class="white-space-32"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b437850a46f51f9"></script>

</body>
</html>
