<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/pagos.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>

    <div class="institutional flex">
        <div class="column">
            <!-- Banner -->
            <div class="banner justify-center align-center" style="background-image: url(../assets/img/header-pagos.jpg);">
                <div class="container">
                    <div class="title">
                        <h2>PAGOS Y CUOTAS</h2>
                    </div>
                </div>
            </div> <!-- End Banner -->

            <div class="directorio-otros justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">01 - Examen de admisión </h3>
                                    <h3 class="color-teal">02 - Inscripción nuevo ingreso 2018 y posterior </h3>
                                    <h3 class="color-teal">03 - Reinscripción generación anterior 2017 </h3>
                                    <h3 class="color-teal">04 - Reinscripción generación 2016 y 2017 </h3>
                                    <h3 class="color-teal">05 - Regístro de título y Expedición de cédula y título </h3>
                                    <h3 class="color-teal">06 - Altas y Bajas por materia </h3>
                                    <h3 class="color-teal">07 - Constancia de competencias </h3>
                                    <h3 class="color-teal">08 - Constancia de estudios </h3>
                                    <h3 class="color-teal">09 - Expedición de Certificados </h3>
                                    <h3 class="color-teal">10 - Reposición de Credencial de Estudiante </h3>
                                    <h3 class="color-teal">11 - Cambio de Carrera </h3>
                                    <h3 class="color-teal">12 - Solicitud de revalidación o equivalencia de estudios </h3>
                                    <h3 class="color-teal">13 - Inscripción estudiante extranjero </h3>
                                    <h3 class="color-teal">14 - Reinscripción estudiante extranjero </h3>
                                    <h3 class="color-teal">15 - Reposición de boleta de calificaciones </h3>
                                    <h3 class="color-teal">16 - Curso Propedeutico </h3>
                                    
                                    <div class="white-space-8"></div>
                                </div>
                                <div class="column auto">
                                    <p class="color-teal"> $700</p>
                                    <p class="color-teal"> $2,200</p>
                                    <p class="color-teal"> $1,600</p>
                                    <p class="color-teal"> $2,000</p>
                                    <p class="color-teal"> $3,300</p>
                                    <p class="color-teal"> $110</p>
                                    <p class="color-teal"> $160</p>
                                    <p class="color-teal"> $110</p>
                                    <p class="color-teal"> $550</p>
                                    <p class="color-teal"> $110</p>
                                    <p class="color-teal"> $550</p>
                                    <p class="color-teal"> $800</p>
                                    <p class="color-teal"> $8,800</p>
                                    <p class="color-teal"> $8,800</p>
                                    <p class="color-teal"> $55</p>
                                    <p class="color-teal"> $600</p>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">Lic. José Alfonso Tah Pat</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto">Secretario Administrativo</p>
                                    <div class="white-space-8"></div>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:jtah@upqroo.edu.mx"><i class="fas fa-envelope"></i> ENVIAR CORREO</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">Lic. Oscar Jair Torres Miranda</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto">Director de Vinculación, Difusión y Extensión Universitaria</p>
                                    <div class="white-space-8"></div>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:oscar.torres@upqroo.edu.mx"><i class="fas fa-envelope"></i> ENVIAR CORREO</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">Lic. Omar Saldaña Salgado</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto">Abogado General</p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-envelope"></i> ENVIAR CORREO</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                    </div>
                </div>
            </div>
            <div class="organigrama justify-center">
                <div class="container justify-center">
                    <div class="auto">
                        <a class="btn btn-blue" href="#"><i class="fas fa-file-invoice"></i> DESCARGAR ORGANIGRAMA</a>
                    </div>
                </div>
            </div>
            <div class="white-space-64"></div>
        </div> <!-- End Main Column -->
    </div> <!-- End Nosotros Column -->



<body>
</body>
</html>
