<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>UPQROO - NOTICIAS</title>
    <link rel="stylesheet" href="../assets/css/trabajos.css" media="screen">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
   <div class= "home flex">
        <div class="jobs justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <h2 class="textHuge">Todas las Vacantes</h2>
                        <div class="white-space-32"></div>
                        <!-- New Jobs Row -->
                        <div class="jobs-cards">
                            <div class="row-responsive">

                                <div class="job-card">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="date column justify-center align-center">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="info justify-center">
                                                <div class="container">
                                                    <div class="column">
                                                        <div class="title">
                                                            <h3>Desarrollador Software</h3>
                                                        </div>
                                                        <div class="schedule align-center">
                                                            <p>Empresa Exitosa</p>
                                                        </div>
                                                        <a  class="read-more" href="#">Ver Vacante</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="job-card">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="date column justify-center align-center">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="info justify-center">
                                                <div class="container">
                                                    <div class="column">
                                                        <div class="title">
                                                            <h3>Desarrollador Software</h3>
                                                        </div>
                                                        <div class="schedule align-center">
                                                            <p>Empresa Exitosa</p>
                                                        </div>
                                                        <a  class="read-more" href="#">Ver Vacante</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="job-card">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="date column justify-center align-center">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="info justify-center">
                                                <div class="container">
                                                    <div class="column">
                                                        <div class="title">
                                                            <h3>Desarrollador Software</h3>
                                                        </div>
                                                        <div class="schedule align-center">
                                                            <p>Empresa Exitosa</p>
                                                        </div>
                                                        <a  class="read-more" href="#">Ver Vacante</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- White Space 32px -->
                        <div class="white-space-32"></div>
                        <!-- New Jobs Row -->
                        <div class="jobs-cards">
                            <div class="row-responsive">

                                <div class="job-card">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="date column justify-center align-center">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="info justify-center">
                                                <div class="container">
                                                    <div class="column">
                                                        <div class="title">
                                                            <h3>Desarrollador Software</h3>
                                                        </div>
                                                        <div class="schedule align-center">
                                                            <p>Empresa Exitosa</p>
                                                        </div>
                                                        <a  class="read-more" href="#">Ver Vacante</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="job-card">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="date column justify-center align-center">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="info justify-center">
                                                <div class="container">
                                                    <div class="column">
                                                        <div class="title">
                                                            <h3>Desarrollador Software</h3>
                                                        </div>
                                                        <div class="schedule align-center">
                                                            <p>Empresa Exitosa</p>
                                                        </div>
                                                        <a  class="read-more" href="#">Ver Vacante</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="job-card">
                                    <div class="column">
                                        <div class="row-responsive">
                                            <div class="date column justify-center align-center">
                                                <i class="fas fa-briefcase"></i>
                                            </div>
                                            <div class="info justify-center">
                                                <div class="container">
                                                    <div class="column">
                                                        <div class="title">
                                                            <h3>Desarrollador Software</h3>
                                                        </div>
                                                        <div class="schedule align-center">
                                                            <p>Empresa Exitosa</p>
                                                        </div>
                                                        <a  class="read-more" href="#">Ver Vacante</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <!-- Pagination -->
                        <div class="pagination justify-between">
                            <a class="next" href="#">SIGUIENTE</a>
                            <a class="prev" href="#">ANTERIOR</a>
                        </div>
                        <!-- White Space 64px -->
                        <div class="white-space-64"></div>
                    </div> <!-- End Main Column -->
                </div> <!-- End Main Container -->
            </div> <!-- End Jobs -->
    </div> <!-- End All Jobs -->
</body>
</html>
