<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
        <link rel="stylesheet" href="../assets/css/noticia.css" media="screen">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <title>UPQROO - TRABAJO</title>
    </head>
    <body>

        <div class="notice flex justify-center">
            <div class="container">
                <div class="row-responsive">
                    <div class="left">
                        <div class="column">
                            <div class="white-space-16"></div>
                            <div class="title">
                                <h2>
                                    Desarrollador Web
                                </h2>
                            </div>
                            <div class="post-date">
                                <div class="row-responsive">
                                    <div class="date-icon align-center">
                                        <i class="fas fa-calendar-alt"></i>
                                    </div>
                                    <div class="date-text align-center">
                                        <p>2 de Marzo, 2018</p>
                                    </div>
                                    <div class="tags-icon align-center">
                                        <i class="fas fa-tags"></i>
                                    </div>
                                    <div class="notice-tags align-center">
                                        <a href="#">CONVENIOS</a>
                                        <a href="#">FIRMAS</a>
                                        <a href="#">OPORTUNIDADES</a>
                                    </div>
                                </div>
                            </div>
                            <div class="white-space-8"></div>
                            <div class="notice-banner">
                                <div class="responsive-img">
                                    <img src="../assets/img/trabajo.jpeg" alt="">
                                </div>
                            </div>
                            <div class="white-space-16"></div>

                            <div class="notice-description">
                                <h3>Datos de la Empresa</h3>
                            </div>
                            <div class="notice-description">
                                <p>
                                    Vacaiones Cancún. Empresa joven mexicana comprometida dedicada a brindar las mejores vacaciones a Cancún y sus alrededores, te invita a formar parte de su equipo de trabajo como: Atención a clientes postventa.
                                </p>
                            </div>

                            <div class="white-space-16"></div>
                            <div class="notice-description">
                                <h3>Descripción</h3>
                            </div>
                            <div class="notice-description">
                                <p>
                                    Análisis, diseño, programación, mantenimiento y desarrollo de soluciones usando tecnologías WEB.
                                </p>
                            </div>

                            <div class="white-space-16"></div>
                            <div class="notice-description">
                                <h3>Requerimientos</h3>
                            </div>
                            <div class="notice-description">
                                <p>
                                    Edad: entre 24 y 35 años, Escolaridad: Estudiante, Carrera: Ing. En Software
                                </p>
                            </div>


                            <div class="white-space-16"></div>
                            <div class="white-space-8"></div>
                            <div class="notice-files">
                                <div class="row-responsive wrap">
                                    <div class="file-link align-center">
                                        <a class="link" href="#">
                                            <i class="fas fa-external-link-alt"></i>
                                            Vacaciones Cancún
                                        </a>
                                    </div>

                                    <div class="file-link align-center">
                                        <a class="link" href="#">
                                            <i class="fas fa-external-link-alt"></i>
                                            Más Información
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <div class="white-space-32"></div>
                            <div class="addthis_inline_share_toolbox"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="container">
                            <div class="notices-latest">
                                <div class="column">
                                    <div class="white-space-16"></div>
                                    <div class="title">
                                        <h3>ÚLTIMAS NOTICIAS</h3>
                                    </div>
                                    <div class="white-space-16"></div>
                                    <div class="notice-last-card">
                                        <div class="column">

                                            <div class="thumb responsive-img">
                                                <img src="../assets/img/thumcard.jpg" alt="">
                                            </div>
                                            <div class="white-space-8"></div>
                                            <div class="title-link">
                                                <h3><a href="#">DÍA DEL MAESTRO 2018</a></h3>
                                            </div>

                                            <div class="white-space-16"></div>

                                            <div class="thumb responsive-img">
                                                <img src="../assets/img/thumcard.jpg" alt="">
                                            </div>
                                            <div class="white-space-8"></div>
                                            <div class="title-link">
                                                <h3><a href="#">DÍA DEL MAESTRO 2018</a></h3>
                                            </div>

                                            <div class="white-space-16"></div>

                                            <div class="thumb responsive-img">
                                                <img src="../assets/img/thumcard.jpg" alt="">
                                            </div>
                                            <div class="white-space-8"></div>
                                            <div class="title-link">
                                                <h3><a href="#">DÍA DEL MAESTRO 2018</a></h3>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b437850a46f51f9"></script>
    </body>
</html>
