<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/nosotros.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>

    <div class="institutional flex">
        <div class="column">
            <!-- Banner -->
            <div class="banner justify-center align-center" style="background-image: url(../assets/img/header-nosotros.jpg);">
                <div class="container">                    
                    <h2 class="color-white">OBLIGACIONES DE TRANSPARENCIA</h2>                    
                </div>
            </div> <!-- End Banner -->  
            <div class="white-space-64"></div>
            <div class="justify-center">
                <div class="container">
                    <div class="componente-panel-lightBlue">
                        <p class="text-justify color-white weight-medium">
                            El artículo 64 de la Ley de Transparencia y Acceso a la Información Pública para el Estado de Quintana Roo, establece que las Unidades de Transparencia serán el enlace entre los sujetos obligados y el solicitante, establecerán sus oficinas en lugares visibles y accesibles al público, ya que son las responsables de la atención de las solicitudes de información y gozarán de autonomía de gestión a fin de cumplir con sus funciones y las disposiciones de esta Ley.
                        </p>
                    </div>                    
                </div>                     
            </div>
                                                
            <div class="directorio-otros justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>                        
                        <div class="componente-transparencia-list bordered">
                            <div class="row-responsive justify-between">
                                <div class="column">
                                    <h3 class="number color-lightBlue">
                                        I
                                    </h3>
                                    <div class="white-space-8"></div>
                                    <p class="description text-justify textTiny auto">
                                        El marco normativo aplicable al sujeto obligado, en el que deberá incluirse leyes, códigos, reglamentos, decretos de creación, manuales administrativos, reglas de operación, criterios, políticas, entre otros;
                                    </p>
                                </div>
                                <div class="download">
                                    <a class="link" href="mailto:hrodriguez@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>

                        <div class="componente-transparencia-list bordered">
                            <div class="row-responsive justify-between">
                                <div class="column">
                                    <h3 class="number color-lightBlue">
                                        II
                                    </h3>
                                    <div class="white-space-8"></div>
                                    <p class="description text-justify textTiny auto">
                                        Su estructura orgánica completa, en un formato que permita vincular cada parte de la estructura, las atribuciones y
                                        responsabilidades que le corresponden a cada Servidor Público, prestador de servicios profesionales o miembro de los
                                        sujetos obligados, de conformidad con las disposiciones aplicables;
                                    </p>
                                </div>
                                <div class="download">
                                    <a class="link" href="mailto:hrodriguez@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>

                        
                    </div>
                </div>
            </div>

            <div class="white-space-64"></div>
            
        </div> <!-- End Main Column -->
    </div> <!-- End Nosotros Column -->



<body>
</body>
</html>
