<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/nosotros.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>

    <div class="institutional flex">
        <div class="column">
            <!-- Banner -->
            <div class="banner justify-center align-center" style="background-image: url(../assets/img/header-nosotros.jpg);">
                <div class="container">
                    <div class="title">
                        <h2>OBLIGACIONES</h2>
                    </div>
                </div>
            </div> <!-- End Banner -->

            <div class="directorio-rector justify-center">
                <div class="container">
                    <div class="column">
                    </div>
                </div>
            </div>
            <div class="directorio-otros justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">I</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"> </p>
                                    <div class="white-space-8"></div>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:hrodriguez@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">II</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                    <div class="white-space-8"></div>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:jtah@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">III</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                    <div class="white-space-8"></div>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:oscar.torres@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">IV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">V</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">VI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">VII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">VIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">IX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">X</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XIV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XVI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XVII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XVIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XIX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXIV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXVI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXVII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXVIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXIX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXIV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXVI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXVII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXVIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XXXIX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XL</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLIV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLV</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLVI</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLVII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLVIII</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">XLIX</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                        
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal">L</h3>
                                    <div class="white-space-8"></div>
                                    <p class="text-justify textTiny auto"></p>
                                </div>
                                <div class="auto">
                                    <a class="link auto" href="mailto:os.salgado@upqroo.edu.mx"><i class="fas fa-book-open"></i> Consultar</a>
                                </div>
                            </div>
                        </div>
                        <div class="white-space-32"></div>
                    </div>
                </div>
            </div>
            <div class="organigrama justify-center">
                <div class="container justify-center">
                    <div class="auto">
                        <a class="btn btn-blue" href="#"><i class="fas fa-file-invoice"></i> DESCARGAR ORGANIGRAMA</a>
                    </div>
                </div>
            </div>
            <div class="white-space-64"></div>
        </div> <!-- End Main Column -->
    </div> <!-- End Nosotros Column -->



<body>
</body>
</html>
