<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/tv.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <title>UPQROO - TV</title>
</head>

<body>
    <div class="header-tv">
        <div class="left">
            <img src="../assets/img/logo-upqroo.png" alt="">
        </div>
        <div class="right">
            <div class="date-time">
                <p id="date"></p>
                &nbsp
                <p id="time"></p>
            </div>
        </div>
    </div>

    <div class="body-tv">
        <div class="left">
            <div class="main-new">
                <div class="image" style="background-image: url(../assets/img/noticia.jpg);"></div>
                <div class="title">
                    <h2>SEGUNDA EXPOSOFT 20 - Universidad Politécnica de Quinatana Roo</h2>
                </div>
                <div class="description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ea commodo conseq.
                    </p>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="news">
                <div class="new">
                    <div class="image" style="background-image: url(../assets/img/noticia.jpg);"></div>
                    <div class="title">
                        <h3>EXPOSOFT 20 - Universidad Politécnica de Quinatana Roo</h3>
                    </div>
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ea commodo conseq.
                        </p>
                    </div>
                </div>
                <div class="new">
                    <div class="image" style="background-image: url(../assets/img/noticia.jpg);"></div>
                    <div class="title">
                        <h3>SEGUNDA EXPOSOFT 20 - Universidad Politécnica de Quinatana Roo</h3>
                    </div>
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat ea commodo conseq.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        (function() {
            'use strict';

            function getDate() {
                var date = new Date();
                var weekday = date.getDay();
                var month = date.getMonth();
                var day = date.getDate();
                var year = date.getFullYear();
                var hour = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();

                if (hour < 10) hour = "0" + hour;
                if (minutes < 10) minutes = "0" + minutes;
                if (seconds < 10) seconds = "0" + seconds;

                var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

                var weekdayNames = ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"];

                var ampm = " PM ";

                if (hour < 12) ampm = " AM ";

                if (hour > 12) hour -= 12;

                var showDate = weekdayNames[weekday] + ", " + day + " de " + monthNames[month] + " del " + year;

                var showTime = hour + ":" + minutes + ":" + seconds + ampm;


                document.getElementById('date').innerHTML = showDate;

                document.getElementById('time').innerHTML = showTime;


                requestAnimationFrame(getDate);
            }

            getDate();

        }());
    </script>
</body>
</html>
