<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/trejocode.css" media="screen">
    <link rel="stylesheet" href="../assets/css/visitas.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <title>UPQROO</title>
</head>


    <div class="institutional flex">
     <div class="column">
       <div class="banner justify-center align-center" style="background-image: url(../assets/img/header-nosotros.jpg);">
                <div class="container">
                    <div class="title">
                        <h2>VISITAS INDUSTRIALES</h2>
                    </div>
                </div>
            </div> <!-- End Banner -->
            <div class="skills justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title">
                            <h2>Tu contacto con el sector productivo</h2>
                        </div>
                        <div class="white-space-16"></div>
                        <p>¿Te gustaría conocer como funcionan las empresas y la industria?</p>
                    </div>
                </div>
            </div>
       <div class="skills justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="title">
                            <h2>Conece el proceso de visitas en 6 pasos</h2>
                        </div>
                        <div class="white-space-64"></div>
                        <div class="habilities">
                            <div class="column">
                                <div class="row-responsive">
                                    <div class="hability">
                                        <div class="hability-number auto align-center">
                                            <p>01 &nbsp</p>
                                        </div>
                                        <div class="hability-description">
                                            <div class="column">
                                                <h3>Programar la Visita</h3>
                                                <div class="white-space-16"></div>
                                                <p class="text-justify"> Dos semanas antes o dentro de los primeros diez hábiles de que comience cada cuatrimestre, las Coordinaciones de Carrera deberán entregar al Departamento de Vinculación, la programación cuatrimestral de Visitas Industriales a través del Formato Plan cuatrimestral de visitas.</p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="hability">
                                        <div class="hability-number auto align-center">
                                            <p>02 &nbsp</p>
                                        </div>
                                        <div class="hability-description">
                                           <div class="column">
                                               <h3>Solicitar la Visita</h3>
                                                <div class="white-space-16"></div>
                                            <p class="text-justify"> Una vez recibido el formato UPQ-F080 la  Dirección de Vinculación procederá a establecer contacto con la(s) empresa(s) que en particular se desea visitar o con aquellas que por su giro, características, facilidades y ubicación pueden ser visitadas, siempre buscando satisfacer el objetivo que para tal efecto se plantea la visita.</p>
                                        </div>
                                    </div>
                                 </div>
                                </div>
                                <div class="white-space-32"></div>
                                <div class="row-responsive">
                                    <div class="hability">
                                        <div class="hability-number auto align-center">

                                            <p>03 &nbsp</p>
                                        </div>
                                        <div class="hability-description">
                                           <div class="column">
                                               <h3>Agendar la visita</h3>
                                                <div class="white-space-16"></div>
                                            <p class="text-justify"> Recibida en la Dirección de Vinculación la respuesta por parte de la empresa, se procederá a notificar a la Dirección de Programa Educativo, la fecha, lineamientos de seguridad y una copia del formato UPQ-F38, así como la solicitud de que sea proporcionada una lista con nombres y número de seguro facultativo o seguro popular de cada asistente, dicha lista deberá ser entregada a Vinculación con mínimo 5 días de anticipación al evento o en el término más amplio que disponga la empresa a visitar.</p>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="hability">
                                        <div class="hability-number auto align-center">
                                            <p>04 &nbsp</p>
                                        </div>
                                        <div class="hability-description">
                                           <div class="column">
                                               <h3>Seguro Facultativo</h3>
                                                <div class="white-space-16"></div>
                                            <p class="text-justify"> La Dirección de Programa Educativo, recabará copia de comprobante de vigencia del Seguro Facultativo, e invitando a aquel alumno que no esté dado de alta, lo haga a la brevedad. Ningún alumno o docente que no cuente con seguridad social vigente podrá asistir a la Visita Industrial Programada.</p>
                                        </div>
                                      </div>
                                    
                                </div>
                                </div>
                                <div class="white-space-32"></div>
                                <div class="row-responsive">
                                    <div class="hability">
                                        <div class="hability-number auto align-center">
                                            <p>05 &nbsp</p>
                                        </div>
                                        <div class="hability-description">
                                           <div class="column">
                                               <h3>Lista de Asistentes</h3>
                                                <div class="white-space-16"></div>
                                            <p class="text-justify"> La Dirección de Programa Educativo, con sustento a la información recabada y a la que se refiere el Paso 4 de este tutorial, proporcionará a la Dirección de Vinculación la lista y número de seguro facultativo o popular de los asistentes en los plazos que se indican en el Paso 3, y en caso de requerir la transportación institucional para llevar a cabo dicha visita deberá ser indicado por escrito al momento de entregar la información antes mencionada.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="hability">
                                        <div class="hability-number auto align-center">
                                            <p>06 &nbsp</p>
                                        </div>
                                        <div class="hability-description">
                                           <div class="column">
                                               <h3>Realizar la visita</h3>
                                                <div class="white-space-16"></div>
                                            <p class="text-justify"> Se realiza visita industrial en apego a las directrices marcadas por la empresa y el docente responsable del acompañamiento de los estudiantes, llenará en ese momento, el formato UPQ-F38 de Reporte de Visita Industrial que le debe de proporcionar la Dirección de Programa Educativo, procediendo a recabar además la firma y sello de la representación de la empresa. Notas:</p>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                                <div class="white-space-64"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Skill -->
            <div class="directorio-otros justify-center">
                <div class="container">
                    <div class="column">
                        <div class="white-space-64"></div>
                        <div class="directorio-list">
                            <div class="row-responsive justify-between">
                                <div class="column auto">
                                    <h3 class="color-teal"> Importante </h3>
                                    <div class="white-space-16"></div>
                                    <p>El Reporte de Visita Industrial deberá ser entregado en forma inmediata a la Dirección de Vinculación, por parte de la Dirección de Programa Educativo</p>
                                    <div class="white-space-16"></div>
                                    <p>En caso requerir servicios de transporte privado, los recursos económicos y contacto de proveedores deberán ser gestionados por la Dirección de Programa Educativo correspondiente.</p>
                                    <div class="white-space-16"></div>
                                    <p>Las visitas industriales NO PROGRAMADAS y/o no notificadas a la Dirección de Vinculación, no recibirán el apoyo de transporte institucional.</p>
                                    <div class="white-space-32"></div>
                                    <h3 class="color-teal">Descarga los formatos </h3>
                                    <div class="white-space-16"></div>
                                    <p>En cuanto a Documentos de Referencia de la Dirección de Vinculación sobre esta actividad se desprende:</p>
                                    <div class="white-space-16"></div>
                                    <a class="link" href="#"><i class="fas fa-book"></i>Formato de Reporte de Visita Industrial visible en Anexo 52 UPQ-F043.</a>
                                    <div class="white-space-16"></div>
                                    
                                    <a class="link" href="#"><i class="fas fa-book"></i>Formato del Plan Cuatrimestral de Visitas Industriales visible en Formato UPQ-F08</a>
                                    <div class="white-space-64"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
